<!DOCTYPE html>
<html lang="ru" theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <!-- App favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('admin_panel.static', filename='images/favicon_package_v0/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('admin_panel.static', filename='images/favicon_package_v0/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('admin_panel.static', filename='images/favicon_package_v0/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('admin_panel.static', filename='images/favicon_package_v0/site.webmanifest') }}">
    

    <link href="{{ url_for('admin_panel.static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('admin_panel.static', filename='css/app-modern.css') }}" rel="stylesheet" type="text/css" id="light-style" />
    <link href="{{ url_for('admin_panel.static', filename='css/app-modern-dark.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
    <link href="{{ url_for('admin_panel.static', filename='css/app-modern-unique.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
</head>

<body class="loading authentication-bg" data-layout-config='{"darkMode":false}'>
    {% block form_content %}{% endblock %}


    <footer class="footer footer-alt">
        2020 © Cybertips.net
    </footer>

    <!-- bundle -->
    <script src="{{ url_for('admin_panel.static', filename='js/vendor.min.js') }}"></script>
    <script src="{{ url_for('admin_panel.static', filename='js/app.min.js') }}"></script>
</body>

</html>