{% extends "base.html" %}

{% block page_title %}Cybertips-вход{% endblock %}


{% block form_content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-header text-center bg-primary pt-3 pb-3">
                            <a href="/">
                                <span><img src="{{ url_for('admin_panel.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Войти</h4>
                                <p class="text-muted mb-4">Введите вашу электронную почту и пароль.</p>
                            </div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                <li style="font-size: 18x;">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endwith %}
                            <form method="POST" action="{{ url_for('auth.login') }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <label for="emailaddress">Логин</label>
                                    <input class="form-control" type="text" name="login" id="emailaddress" required="" placeholder="Введите ваш логин...">
                                </div>

                                <div class="form-group">
                                    <label for="password">Пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Введите ваш пароль...">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-signin" name="remember" checked>
                                        <label class="custom-control-label" for="checkbox-signin">Запомнить меня</label>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Войти </button>
                                </div>

                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}

