.label {
    cursor: pointer;
  }

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert-user-avatar {
  display: none;
}

.img-container img {
  max-width: 100%;
}

.container {
  margin: 20px auto;
  max-width: 640px;
}

img {
  max-width: 100%;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}