:root[theme="light"] {
    /* body */
    --body-bg: #fafbfe;
    --body-color: #6c757d;

    /*  Shadow */
    --shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    --shadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);

    /* Background left-sidebar */
    --bg-leftbar: linear-gradient(135deg, #6379c3 0%, #546ee5 60%);
    --bg-leftbar-light: #ffffff;
    --bg-topnav: linear-gradient(to bottom, #6379c3, #546ee5);
    --name-font-leftbar: #323a46;

    /* card */
    --bg-card: #fff;
    --card-header: #fff;

    /* drowdown menu */
    --bg-dropdown-menu: #fff;
    --border-dropdown-menu: #e4eaf2;

    /* balance button */
    --balance-btn: #6c757d;

    --nav-link: #98a6ad;

    --text-muted: #98a6ad;

    --dropdown-menu-hover: #f8f9fa;
    --dropdown-color-hover: #272e37;

    --button-secondary: var(--gray-600);

    --bg-primary: #536de6;

    /* Deatched left sidenav */
    --bg-detached-leftbar: #ffffff;

    /* Boxed Layout */
    --boxed-layout-bg: #ffffff;

    /* Menu item colors (Default-dark) */
    --menu-item: #cedce4;
    --menu-item-hover: #ffffff;
    --menu-item-active: #ffffff;

    /* Menu item colors (light) */
    --menu-item-light: #6c757d;
    --menu-item-light-hover: #3d73dd;
    --menu-item-light-active: #3d73dd;

    /* Detached Menu item colors */
    --menu-item-dark: #6c757d;
    --menu-item-dark-hover: #3d73dd;
    --menu-item-dark-active: #3d73dd;

    /* Dark sidenav Menu item color */
    --sidebar-dark-menu-item: #8391a2;
    --sidebar-dark-menu-item-hover: #bccee4;
    --sidebar-dark-menu-item-active: #ffffff;

    /* Rightbar Width */
    --rightbar-bg: #ffffff;
    --rightbar-title-bg: #313a46;
    --rightbar-title-color: #ffffff;
    --rightbar-title-btn-bg: #444e5a;
    --rightbar-title-btn-color: #ffffff;
    --rightbar-overlay-bg: #37404a;

    /* Topbar Background */
    --bg-topbar: #ffffff;
    --bg-topbar-dark: #313a46;

    /* Topbar Search */
    --bg-topbar-search: #f1f3fa;
    --bg-topbar-dark-search: #3c4655;

    /* Helpbox */
    --help-box-light-bg: rgba(255, 255, 255, 0.07);
    --help-box-dark-bg: #3d73dd;

    /* Nav-pill background */
    --nav-pills-bg: #eef2f7;

    /* Custom-accordion */
    --custom-accordion-title-color: #313a46;

    /* Dragula demo background */
    --dragula-bg: #f7f9fb;

    /* Form wizard header background */
    --form-wizard-header-bg: #eef2f7;

    /* Text title color */
    --text-title-color: #6c757d;

    /* card Loader background */
    --card-loader-bg: #313a46;

    /* Chat widget */
    --chat-primary-user-bg: #fef5e4;
    --chat-secondary-user-bg: #f1f3fa;

    /* User authentication Background */
    --auth-bg: #ffffff;
    --auth-bg-pattern-img: url("../images/bg-pattern-light.svg");

    /* Apex chart */
    --apex-grid-color: #f9f9fd;

    /* Hero */
    --hero-bg: linear-gradient(to bottom, #6379c3, #546ee5);

    --white: #fff;
    --gray-100: #f1f3fa;
    --gray-200: #eef2f7;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #98a6ad;
    --gray-700: #6c757d;
    --gray-800: #343a40;
    --gray-900: #323a46;
    --black: #000;

    --primary: --purple;
    --secondary: --gray-700;
    --success: --green;
    --info: --cyan;
    --warning: --yellow;
    --danger: --red;
    --light: --gray-200;
    --dark: --gray-900;

    /* --body-color: --gray-700; */
    --dropdown-border-color: darken(--light, 3%);

    --dropdown-link-color: --body-color;
    --dropdown-color: --body-color;
    --dropdown-link-hover-color: --headings-color;

    --dropdown-link-active-color: --dark;
    --dropdown-link-active-bg: lighten(--light, 3%);


}

:root[theme="dark"] {
    /* body */
    --body-bg: #343a40;
    --body-color: #98a6ad;

    /* Shadow */
    --shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    --shadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);

    /* Background left-sidebar */
    --bg-leftbar: linear-gradient(135deg, #6379c3 0%, #546ee5 60%);
    --bg-leftbar-light: #313a46;
    --bg-topnav: #37404a;
    --name-font-leftbar: rgb(241, 241, 241);

    /* card */
    --bg-card: #37404a;
    --card-header: rgb(70, 79, 91);

    /* drowdown menu */
    --bg-dropdown-menu: #464f5b;
    --border-dropdown-menu: #4d5764;

    /* balance button */
    --balance-btn: #6c757d;

    --nav-link: #adb5bd;

    --text-muted: #adb5bd;

    --dropdown-menu-hover: #4D5763;
    --dropdown-color-hover: #C3C5C8;

    --button-secondary: var(--gray-400);

    --bg-primary: #4a5fc2;

    /* Deatched left sidenav */
    --bg-detached-leftbar: #37404a;

    /* Boxed Layout */
    --boxed-layout-bg: #3e4853;

    /* Menu item colors (Default-dark) */
    --menu-item: #cedce4;
    --menu-item-hover: #ffffff;
    --menu-item-active: #ffffff;

    /* Menu item colors (light) */
    --menu-item-light: #6c757d;
    --menu-item-light-hover: #3d73dd;
    --menu-item-light-active: #3d73dd;

    /* Detached Menu item colors */
    --menu-item-dark: #8391a2;
    --menu-item-dark-hover: #bccee4;
    --menu-item-dark-active: #cfe1f7;

    /* Dark sidenav Menu item color */
    --sidebar-dark-menu-item: #8391a2;
    --sidebar-dark-menu-item-hover: #bccee4;
    --sidebar-dark-menu-item-active: #ffffff;

    /* Rightbar */
    --rightbar-bg: #37404a;
    --rightbar-title-bg: #3d73dd;
    --rightbar-title-color: #ffffff;
    --rightbar-title-btn-bg: lighten(--rightbar-title-bg, 5%);
    --rightbar-title-btn-color: #ffffff;
    --rightbar-overlay-bg: #000;

    /* Topbar Background */
    --bg-topbar: #3a444e;
    --bg-topbar-dark: #3a444e;

    /* Topbar Search */
    --bg-topbar-search: #464f5b;
    --bg-topbar-dark-search: #464f5b;

    /* Helpbox */
    --help-box-light-bg: rgba(255, 255, 255, 0.1);
    --help-box-dark-bg: #3d73dd;

    /* Page title color */
    --page-title-color: #fff;

    /* Header title */
    --header-title-color: #ffffff;

    /* Nav-pill background */
    --nav-pills-bg: #404954;

    /* Custom-accordion */
    --custom-accordion-title-color: #8391a2;

    /* Dragula demo background */
    --dragula-bg: #404954;

    /* Form wizard header background */
    --form-wizard-header-bg: #404954;

    /* Custom title color */
    --text-title-color: #ffffff;

    /* card Loader background */
    --card-loader-bg: #313a46;

    /* Chat widget */
    --chat-primary-user-bg: #404954;
    --chat-secondary-user-bg: #404954;

    /* User authentication Background */
    --auth-bg: #404954;
    --auth-bg-pattern-img: url("../images/bg-pattern-dark.png");

    /* Apex chart */
    --apex-grid-color: #404954;

    /* Hero */
    --hero-bg: linear-gradient(to bottom, #6379c3, #546ee5);

    --white: #fff;
    --gray-100: #404954;
    --gray-200: #37404a;
    --gray-300: #464f5b;
    --gray-400: #8391a2;
    --gray-500: #aab8c5;
    --gray-600: #ced4da;
    --gray-700: #dee2e6;
    --gray-800: #e3eaef;
    --gray-900: #f1f1f1;


    --primary: --purple;
    --secondary: --gray-700;
    --success: --green;
    --info: --cyan;
    --warning: --yellow;
    --danger: --red;
    --light: --gray-200;
    --dark: --gray-900;


    /* --body-color: --gray-500; */
    --dropdown-bg: --gray-300;
    --dropdown-border-color: lighten(--gray-300, 3%);
    --dropdown-link-color: --body-color;
    --dropdown-color: --body-color;
    --dropdown-link-hover-color: --headings-color;
    --dropdown-link-hover-bg: lighten(--gray-300, 3%);
    --dropdown-link-active-color: --white;
    --dropdown-link-active-bg: lighten(--gray-300, 3%);

    --dropdown-divider-bg: lighten(--gray-300, 3%);
}