{% extends "base.html" %}

{% block page_title %}Смена пароля{% endblock %}


{% block form_content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <!-- <div class="card-body">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <li class="flashes__item">* {{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div> -->

                        <!-- Logo -->
                        <div class="card-header text-center bg-primary pt-3 pb-3">
                            <a href="/">
                                <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>
                        <div class="card-body p-4">
                                
                            <div class="text-center m-auto mb-3">
                                <img src="{{ url_for('main_page.static', filename='images/mail_sent.svg') }}" alt="mail sent image" height="64" />
                                <h4 class="text-dark-50 text-center mt-4 font-weight-bold mb-3">Проверьте вашу почту</h4>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class=flashes>
                                    {% for message in messages %}
                                    <li style="font-size: 18x;">{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {% endwith %}
                                <form method="POST" action="{{ url_for('auth.recover_password') }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <p class="text-muted mb-4">
                                        Введите ваш email, чтобы мы смогли убедиться,
                                        Что данный аккаунт принадлежит вам.
                                    </p>
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" id="emailaddress" required placeholder="Введите электронный адресс..." required>
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary" type="submit">Отправить</button>
                                    </div>
                                </form>
                            </div>


                        </div> <!-- end card-body-->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}


