{% extends "base.html" %}

{% block page_title %}Ошибка смены пароля{% endblock %}


{% block form_content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <!-- <div class="card-body">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <li class="flashes__item">* {{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div> -->

                        <!-- Logo -->
                        <div class="card-header text-center bg-primary pt-3 pb-3">
                            <a href="/">
                                <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>
                        {{user}}
                        <div class="card-body p-4">
                                
                            <div class="text-center m-auto">
                                <img src="{{ url_for('main_page.static', filename='images/mail_sent.svg') }}" alt="mail sent image" height="64" />
                                <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Недействительный адресс</h4>
                                <p class="text-muted mb-4">
                                   Данная почта: <b>{{ email }}</b> не привязана к нашему сайту.
                                   Попробуйте снова.
                                </p>
                            </div>
                            <div class="form-group mb-0 text-center">
                                <a href="{{ url_for('auth.email_changing_password') }}"><button class="btn btn-primary" type="submit"><i class="mdi mdi-home mr-1"></i>Попробовать снова</button></a>
                            </div>

                        </div> <!-- end card-body-->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}


