<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Подтверждение регистрации</title>
        <link rel="shortcut icon" href="{{ url_for('main_page.static', filename='images/favicon.io') }}">

        <link href="{{ url_for('main_page.static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('main_page.static', filename='css/app-modern.css') }}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{{ url_for('main_page.static', filename='css/app-modern-dark.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
        <link href="{{ url_for('main_page.static', filename='css/app-modern-unique.css') }}" rel="stylesheet" type="text/css" id="dark-style" />
    </head>

    <body class="loading authentication-bg" data-layout-config='{"darkMode":false}'>

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">
    
                            <!-- Logo -->
                            <div class="card-header text-center bg-primary pt-3 pb-3">
                                <a href="/">
                                    <!-- <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span> -->
                                </a>
                            </div>
    
                            <div class="card-body p-4">
                                    
                                <div class="text-center m-auto">
                                    <!-- <img src="{{ url_for('main_page.static', filename='images/mail_sent.svg') }}" alt="mail sent image" height="64" /> -->
                                    <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Подтверждение регистрации</h4>
                                    <p class="text-muted mb-4">
                                        Вы были зарегистрированы на Cybertips.net
                                        Ваш nickname: <b>{{ nickname }}</b>.
                                        Перейдите по ссылке, чтобы подтвердить регистрацию: <a href="{{link}}">{{ link }}</a>
    
                                        Если это были не вы, просто проигнорируйте данное сообщение.
                                    </p>
                                </div>
                            </div> <!-- end card-body-->
                        </div>
                        <!-- end row -->
    
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2020 © Cybertips.net
        </footer>
    </body>
</html>



