{% extends "base.html" %}

{% block page_title %}Cмена пароля{% endblock %}


{% block form_content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
    
                        <!-- Logo -->
                        <div class="card-header text-center bg-primary pt-3 pb-3">
                            <a href="/">
                                <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">
                                
                            <div class="text-start m-auto">
                                <!-- <img src="{{ url_for('main_page.static', filename='images/mail_sent.svg') }}" alt="mail sent image" height="64" /> -->
                                <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Смена пароля</h4>
                                <form method="POST" action="{{ url_for('auth.submit_password_user', email=email) }}">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class="form-group">
                                        <label for="password">Пароль</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password" name="password1" class="form-control" placeholder="Введите пароль..." minlength="6" required>
                                            <div class="input-group-append" data-password="false">
                                                <div class="input-group-text">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="form-group">
                                        <label for="password">Подтвердите пароль</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="password" name="password2" class="form-control" placeholder="Введите пароль повторно..." minlength="6" required>
                                            <div class="input-group-append" data-password="false">
                                                <div class="input-group-text">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 text-center mt-3">
                                        <button class="btn btn-primary" type="submit">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div> <!-- end card-body-->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}