{% extends "base.html" %}

{% block page_title %}Подтверждение смены пароля{% endblock %}


{% block form_content %}
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header text-center bg-primary pt-3 pb-3">
                            <a href="/">
                                <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>
                        <div class="card-body p-4">
                                
                            <div class="text-center m-auto">
                                <img src="{{ url_for('main_page.static', filename='images/mail_sent.svg') }}" alt="mail sent image" height="64" />
                                <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Проверьте вашу почту</h4>
                                <p class="text-muted mb-4">
                                    Подтверждение было отправлено на вашу почту:  <b>{{ email }}</b>.
                                    Пожалуйста проверьте её и подтвердите смену пароля.
                                    Будьте внимательны, письмо может попасть в спам.
                                </p>
                            </div>
                            <!-- <div class="form-group mb-0 text-center">
                                <a href="{{ url_for('main_page.index') }}"><button class="btn btn-primary" type="submit"><i class="mdi mdi-home mr-1"></i>На главную</button></a>
                            </div> -->

                        </div> <!-- end card-body-->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}


