{% extends "base.html" %}

{% block page_title %}Регистрация {% endblock %}

{% block form_content %}
    <!-- <form method="POST" action="{{ url_for('auth.register') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <label for="fio">NickName:</label>
            <input type="text" class="form-control" name="nickname" required>
        </div>
        <div class="form-group">
            <label for="phone">Номер телефона:</label>
            <input type="phone" class="form-control" name="phone" minlength="10" maxlength="18" required>
        </div>
        <div class="form-group">
            <label for="email">Email адрес:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label for="password1">Пароль:</label>
            <input type="password" class="form-control" name="password1" minlength="6" required>
        </div>
        <div class="form-group">
            <label for="password2">Повторите пароль:</label>
            <input type="password" class="form-control" name="password2" minlength="6" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </div>
        <a type="submit" class="btn btn-outline-primary btn-block" href="{{ url_for('auth.login') }}">Войти</a>
    </form> -->


    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <!-- <div class="card-body">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <li class="flashes__item">* {{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div> -->
                        <!-- Logo-->
                        <div class="card-header pt-3 pb-3 text-center bg-primary">
                            <a href="/">
                                <span><img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40"></span>
                            </a>
                        </div>

                        <div class="card-body p-4">
                            
                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Регистрация</h4>
                                <p class="text-muted mb-4">Нет аккаунта? Создайте его! Это займет всего пару минут.</p>
                            </div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for message in messages %}
                                <li style="font-size: 18x;">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {% endwith %}
                            <form method="POST" action="{{ url_for('auth.register') }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group">
                                    <label for="fullname">Логин</label>
                                    <input class="form-control" name="nickname" type="text" id="fullname" placeholder="Введите логин..." required>
                                </div>

                                <div class="form-group">
                                    <label for="emailaddress">Email</label>
                                    <input class="form-control" type="email" name="email" id="emailaddress" required placeholder="Введите электронный адресс..." required>
                                </div>

                                <div class="form-group">
                                    <label for="password">Пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" name="password1" class="form-control" placeholder="Введите пароль..." minlength="6" required>
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">Подтвердите пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" name="password2" class="form-control" placeholder="Введите пароль повторно..." minlength="6" required>
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkbox-signup" required>
                                        <label class="custom-control-label" for="checkbox-signup">Я принимаю <a href="{{ url_for('main_page.user_agreements') }}" class="text-muted">Пользовательское соглашение</a></label>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Зарегистрироваться </button>
                                </div>

                            </form>
                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Уже есть аккаунт? <a href="/login" class="text-muted ml-1"><b>Войти</b></a></p>
                        </div> <!-- end col-->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
{% endblock %}