@import "variables.css";

/* .main-wrapper-background {
    background: url('../images/layouts/main_background.jpg') repeat-y;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

} */

/* body {
    top: 70px;
}

.topnav-navbar-unique {
    position: fixed;
} */


/* ADD PROGNOS ON LOW RESOLUTION FOR IPHONE5 */
@media(max-width: 380px) {
    body {
        font-size: 0.8rem;
    }
    

    .game-logo-low-unique {
        padding-left: 0;
        padding-right: 0;
    }

    .game-logo-low-unique > img {
        height: 35px;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #btn-collapse {
        margin-left: 0 !important;
    }

    /* .prev-step,
    .next-step {
        padding: 0.45rem 0.85rem !important;
    } */

    .team-logo-low-unique {
        padding-right: 8px;
        padding-left: 8px;
    }

    .team-logo-low-unique > img {
        height: 35px;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .card-body {
        margin-top: 2rem !important;
    }
    
    .media-body-on-phone {
        max-width: 70% !important;
    }

    .media-body-reply-on-phone {
        max-width: 85% !important;
    }
}


@media (min-width: 768px) {
    .account-user-starter-unique {
        min-width: 170px !important;
    }
}

.teams-images-unique {
    height: 80px;
}

.teams-images-wrapper-unique {
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
}

.teams-versus-container-unique {
    align-self: center;
    padding: 0 !important;
    margin: 0 20px;
}

.teams-versus-text-unique {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.prognos-score-unique {
    display: flex;
    font-size: 18px;
    justify-content: center;
    word-spacing: 3px !important;
}

.like-button-unique {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .cell_size_20_games {
        margin-bottom: 0px;
        min-height: 45px;
        max-height: 45px;
        display: flex;
        align-items: center;
    }

    .account_last-20-teams_img {
        margin-right: 5px;
    }
}

@media (max-width: 1200px) {
    /* just for account page 20 games */
    .cell_size_20_games {
        margin-bottom: 0px;
        min-height: 60px;
        max-height: 60px;
        display: flex;
        align-items: center;
    }

    .account_last-20-teams_img {
        margin-right: 5px;
    }

    /* next */
    .teams-images-unique {
        height: 60px;
    }

    .teams-images-wrapper-unique {
        flex-direction: column;
        align-items: center;
    }

    .teams-versus-text-unique {
        align-self: center;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
    }

    .teams-versus-container-unique {
        align-self: center;
        padding: 0 !important;
        margin: 0 6px !important;
    }

    .prognos-score-unique,
    .teams-versus-text-unique {
        font-size: 14px;
    }

}

@media (max-width: 1050px) and (min-width: 992px) {
    .teams-images-wrapper-unique {
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media (max-width: 608px) {
    .teams-vs-container-unique:nth-of-type(1) {
        order: 1;
    }

    .teams-vs-container-unique:nth-of-type(2) {
        order: 3;
    }

    .teams-vs-container-unique:nth-of-type(3) {
        order: 2;
    }

    .teams-vs-container-unique {
        justify-content: center;
        margin-top: 10px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media(min-width: 540px) {
    .balance-starter-account-unique {
        display: list-item;
    }

    #balance_on_phones {
        display: none;
    }
}

@media(max-width: 539.98px) {
    .balance-starter-account-unique {
        display: none;
    }

    #balance_on_phones {
        display: block;
    }

    #buttons-step4 {
        display: flex;
        flex-direction: column;
    }

    #btn-return-to-step1 {
        margin-top: 7px;
    }

    #add-prognos-btn-id-wrapper {
        margin-left: 0;
        margin-right: auto;

    }

    .btn-one-more-express {
        margin-top: 15px !important;
    }

    #add-prognos-btn-id {
        margin-left: 0px;
        margin-top: 7px;
    }

    .name_team {
        max-width: 85px;
    }
}


@media (min-width: 1029px) {
    .left-side-menu-unique {
        top: 30px;
        position: sticky !important;
        max-height: 87vh;
    }
}

@media (min-width: 768px) and (max-width: 1028.98px) {
    .left-side-menu-unique {
        top: 30px;
        position: sticky !important;
        max-height: 28vh;
    }
}

@media (max-width: 767.98px) {
    .left-side-menu-unique {
        top: 70px;
    }

    .topnav-navbar-unique {
        position: fixed;
    }

    .container-low-resolution-unique {
        margin-top: 70px;
    }


}

@media (max-width: 440px) {
    .col-sm-auto {
        padding-right: 0px !important;
    }

    .account-bar-position-unique {
        min-width: 50px !important;
    }
}

/* change font-size on iphone 5 to adaptive */
@media (max-width: 353px) {
    .unique-low-size {
        font-size: 10px !important;
    }
}


.answer-card-close {
    border: 1px solid transparent;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 2em;
    color: #0acf97;
    border-color: #0acf97;
    display: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: .15rem .4rem;
    font-size: .9rem;
    line-height: 1.5;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    text-transform: none;
    outline: 0 !important;
    overflow: visible;
    align-items: center;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: rgb(70, 79, 91);
    ;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.mdi-window-close-unique {
    cursor: pointer;
    width: 10px !important;
    height: 10px !important;
    outline: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 1.15pt !important;
}

.test {
    position: relative;
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 4px;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    font-size: 21px !important;
    color: #666;
}

.test:hover {
    background-color: #eee;
    color: #0c9550;
}

.account-bar-position-unique {
    min-width: 100px;
    position: relative;
    margin: 0 10px;
    display: block;
    text-align: center;
}


.account-position-unique {
    line-height: 70px !important;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #b1c0c7;
}

.account-bar-nonauth-unique:hover {
    background-color: #262c36 !important;
    z-index: 9999;
    border: 1px solid #262c36 !important;
}

.resize-none-unique {
    resize: none;
    height: 150px !important;
}

/* ---------------------------------------------------
    ALL PAGE
----------------------------------------------------- */
[class^="dripicons-"]:before,
[class*=" dripicons-"]:before {
    line-height: 1.5 !important;
}



/* ---------------------------------------------------
    ACCOUNT PAGE INFO on low resolution
----------------------------------------------------- */
@media (max-width: 394.98px) {
    .low-account-position-unique {
        text-align: center;
        justify-content: center;
    }

    .li-low-account-position-unique {
        margin-right: 0 !important;
        padding: 0 10px;
    }

    .media-low-account-position-unique {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .label-low-pos-unique {
        margin-right: 0.75rem !important;
    }
}

.account-text-registration {
    display: inline-flex !important;
}

.account-date-registration {
    display: inline-flex !important;
}

@media (max-width: 394.98px) {
    .account-text-registration {
        display: block !important;
    }
    
    .account-date-registration {
        display: block !important;
    }
    /* add prognos */
    .league_choose {
        height: 110px !important;
    }

    .wizard .tab-pane {
        padding-top: 0 !important;
    }

    #team-commands-create {
        margin: 0 !important;
    }

    .add-prog-low-unique {
        padding: 0 !important;
    }
}



/*---------signup-step-------------*/
.bg-color {
    background-color: #333;
}

.signup-step-container {
    padding: 150px 0px;
    padding-bottom: 60px;
}




.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard>div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    left: -20px;
}

.connecting-line {
    height: 2px;
    background: var(--border-dropdown-menu);
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: var(--bg-card);
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: var(--gray-700);
    font-weight: 700;
    border: 1px solid var(--border-dropdown-menu);
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #10c469;;
    color: #fff;
    border-color: #10c469;;
}

.wizard li.active span.round-tab i {
    color: #5bc0de;
}

.wizard .nav-tabs>li.active>a i {
    color: #0db02b;
}

.wizard .nav-tabs>li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs>li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.wizard .nav-tabs>li a i {
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-5%, -50%);
    font-size: 12px;
    font-weight: 700;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}



.wizard h3 {
    margin-top: 0;
}

.prev-step,
.next-step {
    font-size: 13px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.step-head {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.term-check {
    font-size: 14px;
    font-weight: 400;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}

.footer-link {
    margin-top: 30px;
}

.list-content {
    margin-bottom: 10px;
}

.list-content a {
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}

.list-content a[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.list-content a i {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}

.list-box {
    padding: 10px;
}

.signup-logo-header .logo_area {
    width: 200px;
}

.signup-logo-header .nav>li {
    padding: 0;
}

.signup-logo-header .header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-inline li {
    display: inline-block;
}

.pull-right {
    float: right;
}

.btn-one-more-express {
    font-size: 13px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.btn-expresses-to-step4 {
    font-size: 13px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: -25px;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"] {
    position: relative;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;
}

input[type="checkbox"]::before {
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}

input[type="checkbox"]::after {
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}

input[type="checkbox"]:checked::after {
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked::before {
    background-color: #18ba60;
    border-color: #18ba60;
}






@media (max-width: 767.98px) {
    .sign-content h3 {
        font-size: 40px;
    }

    .wizard .nav-tabs>li a i {
        display: none;
    }

    .signup-logo-header .navbar-toggle {
        margin: 0;
        margin-top: 8px;
    }

    .signup-logo-header .logo_area {
        margin-top: 0;
    }

    .signup-logo-header .header-flex {
        display: block;
    }
}


/* WWWWWWWWWWWWWW */

.prognos-wrapper-unique {
    border: 1px solid #E2ECF3;
    border-radius: 3px 3px 3px 3px;
    padding: 20px 20px;
    box-shadow: 0 2px #E2ECF3;
    cursor: pointer;
}

.prognos-wrapper-unique:hover {
    transform: scale(1.05);
}



/* AWDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */

.league_choose {
    padding: 0 !important;
    cursor: pointer;
}

.league_choose_wrapper {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    align-items: center;
}

.league_choose_wrapper_img {
    width: 30px;
    height: 32px;
}

.league_choose_wrapper_text {
    margin: 0 0 0 10px;
}


.team_game_choose {
    padding: 10px 8px !important;
    width: 100%;
}

.subscriber_choose {
    padding: 0 !important;
    cursor: pointer;
}

.subscriber_choose_wrapper {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    align-items: center;
}

.subscriber_choose_wrapper_text {
    margin: 0 0 0 10px;
}

.subscriber_choose_wrapper_img {
    width: 30px;
    height: 32px;
}

.text-user-info {
    color: #dbdbdb;
}

.choose_game_wrapper {
    display: flex;
    width: 35%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.choose_game_wrapper_text {
    text-align: center;
}

.choose_game_wrapper_time {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.choose_game_wrapper_time_span {
    width: 100%;
    text-align: center;
}

.choose_game_wrapper_img {
    width: 35px;
    height: 35px;
}

@media (min-width: 768px) {
    .description_content {
        padding: 0 !important;
    }
    
    .description_wrapper {
        width: 100%;
        padding: 8px 12px;
        display: flex;
        align-items: center;
    }
    
    .description_time {
        display: flex;
        width: 10%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        margin-right: 20px;
    }
    
    .description_teams {
        display: flex;
        width: 35%;
        align-items: start;
        flex-direction: column;
        margin-right: 8px;
    }
    
    .description_team_img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    
    .description_team_span {
        text-align: center;
    }
    
    .description_league {
        display: flex;
        width: 35%;
    }
    
    .description_event {
        display: flex;
        width: 20%;
        float: right;
        flex-direction: row;
        margin-left: 15px;
        height: 100%;
        border-left: solid 2px var(--gray-300);
        justify-content: center;
    }
    
    .description_event_type {
        margin-right: 10px;
    }

    .expresses_content {
        padding: 0 !important;
    }
    
    .expresses_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 90px;
    }
    
    .expresses_time {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-align: center;
        margin-right: 20px;
        min-height: 90px;
    }
    
    .expresses_teams {
        display: flex;
        width: 40%;
        align-items: center;
        flex-direction: column;
        min-height: 90px;
        border-left: solid 2px var(--gray-300);
        justify-content: space-around;
        padding: 5px 0px;
    }

    .expresses_team_img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    
    .expresses_team_span {
        text-align: center;
    }
    
    .expresses_league {
        display: flex;
        width: 35%;
        min-height: 90px;
        align-items: center;
        justify-content: center;
        border-left: solid 2px var(--gray-300);
    }
    
    .expresses_event {
        display: flex;
        width: 20%;
        float: right;
        flex-direction: row;
        margin-left: 15px;
        height: 100%;
        border-left: solid 2px var(--gray-300);
        justify-content: center;
        min-height: 90px;
        align-items: center;
    }
    
    .expresses_event_type {
        margin-right: 10px;
    }

    .express-mdi-close-on-phone {
        display: none;
    }

    /* FEEEED */
    .search_filter_container {
        flex-direction: row;
        padding: 0px;
        margin-bottom: 10px;
    }
    
    .tag-editor {
        border-radius: 7px;
        margin-bottom: 10px;
    }
    
    #search_dropdown {
        border-radius: 7px;
        border-left: none;
    }
}


@media (max-width: 1180px) and (min-width: 768px) {

    .description_wrapper {
        padding: 4px 6px;
    }

    .description_league {
        width: 30%;
    }

    .description_event {
        flex-direction: column;
        align-items: center;
        width: 15%;
        margin-left: 8px;
    }

    .description_event_type {
        margin-bottom: 8px;
        margin-right: 0px;
    }

    .description_team_span {
        word-break: break-all;
    }

    .expresses_wrapper {
        padding: 4px 6px;
    }

    .expresses_league {
        width: 30%;
    }

    .expresses_event {
        flex-direction: column;
        align-items: center;
        width: 15%;
        margin-left: 8px;
    }

    .expresses_event_type {
        margin-bottom: 8px;
        margin-right: 0px;
    }

    .expresses_team_span {
        word-break: break-all;
    }
}


@media (max-width: 790px) and (min-width: 768px) {
    .description_wrapper {
        padding: 2px 2px 2px 2px;
    }

    .expresses_wrapper {
        padding: 2px 2px 2px 2px;
    }
}


@media (max-width: 767.98px) {
    .description_content {
        padding: 0 !important;
        margin-bottom: 30px !important;
    }

    .add-prognos__change-mt-on-phones {
        margin-top: 0px !important;
    }
    
    .description_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .description_time {
        padding-top: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .description_teams {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .description_team {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .description_team_img {
        width: 30px;
        height: 30px;
    }

    .description_team_span {
        text-align: center;
    }

    .description_league {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        text-align: center;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .description_event {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-bottom: 15px;
        align-items: center;
    }

    .description_event_type {
        margin-right: 15px;
        padding: 5px;
    }

    .expresses_content {
        padding: 0 !important;
    }
    
    .expresses_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .expresses_time {
        padding-top: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .expresses_teams {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .expresses_team {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .expresses_team_img {
        width: 30px;
        height: 30px;
    }

    .expresses_team_span {
        text-align: center;
    }

    .expresses_league {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        text-align: center;
        border-bottom: solid 2px var(--gray-300);
        padding-bottom: 15px;
    }

    .expresses_event {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-bottom: 15px;
        align-items: center;
    }

    .expresses_event_type {
        margin-right: 15px;
        padding: 5px;
    }

    .express-mdi-close {
        display: none;
    }

    .express-mdi-close-on-phone {
        display: block !important;
        margin-right: 0;
        margin-left: auto !important;
        margin-bottom: -15px;
        margin-top: -9px;
        margin-right: -7px;
    }

    .range-slider-wrapper {
        flex-direction: column;
    }
    
    #text-area-description {
        min-width: 200px;
    }

    #js-range-slider-changing {
        width: 200px !important;
    }

    #js-range-slider-changing:nth-child(1) {
        order: 1;
    }

    /* FEEEED */
    .search_filter_container {
        flex-direction: column;
    }
    
    .tag-editor {
        border-radius: 7px !important;
        margin-bottom: 10px !important;
    }
    
    #search_dropdown {
        border-left: none !important;
    }

    #dropdownLeagues {
        border-radius: 7px !important;
        margin-bottom: 10px !important;
    }

    .express_in_expresses_wrapper {
        flex-direction: column;
    }

    .express_in_expresses_coef {
        margin-left: 0 !important;
        margin-top: 7px;
    }

    .express_in_expresses_date {
        margin-right: 0px !important;
        margin-bottom: 2px;
    }

    .express_in_expresses_teams {
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
  }
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pointer-events-none {
    pointer-events: none;
}

.add_prognos_card_hover:hover {
    transform: scale(1.04);
    transition: all 0.25s;
}

.add_prognos_card_hover {
    transition: all 0.4s;
}


/* subs */

.sub__container {
    cursor: pointer;
}

.sub__card {
    min-width: 200px;
    max-height: 80px;
    padding: 9px;
    border-radius: 3px;
    background-color: var(--bg-card);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.sub__link {
    color: inherit;
    list-style: none;
}

.sub__link:hover {
    color: inherit;
    list-style: none;
}

.sub__card:after {
    content: '';
    display: block;
    width: 190px;
    height: 410px;
    background: var(--bg-primary);
    position: absolute;
    animation: rotatemagic 0.35s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.sub__card__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.sub__img__wrapper {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.sub__img__wrapper .sub__info__wrapper {
    padding: 0px 20px;
}

.sub__info__wrapper {
  margin: 0 20px !important;
  display: inline-block;
  width: 100%;
  font-size: 1em;
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
   }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
   }
}
/* end subs */

.desc_current-lenght-textarea {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: text;
    color: var(--body-color);
}

.to-step4-btn {
    font-size: 13px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.already_used_game {
    border: 1px solid #10c469 !important;
}

[data-href] {
    cursor: pointer;
}

.user-credit-header {
    margin-bottom: 0px;
    margin-left: 16px;
    border-radius: 0.3rem;
    padding: 3px 6px;
}

.name_team {
    text-align: center;
}

/* feed titles */
.title-сhoice-block__wrapper {
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.title-сhoice-block__title {
    margin-top: -30px;
}

.title-сhoice-block__text {
    margin-left: 10px;
    margin-top: 16px;
    text-decoration: underline;
}
@media (min-width: 992px) {
    #go_top_btn {
        border: solid var(--body-color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        width: 20px;
        height: 20px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 7%;
        /* right: 30px; */
        transition: background-color .3s, 
          opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000000;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg)
    }
    
    #go_top_btn:hover {
        cursor: pointer;
    }
    
    #go_top_btn.show {
        opacity: 1;
        visibility: visible;
    }    
}

