{% extends "account.html" %}

{% block page_title %}Аккаунт{% endblock %}

{% block header %}
    <!-- Cropper css -->
    <link href="{{ url_for('main_page.static', filename='css/cropper.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/cropper-unique.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagebread %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="{{ url_for('main_page.account', user=current_user.get_id()) }}" >Профиль</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Профиль</h4>
            </div>  
        </div>
    </div>     
    <!-- end page title --> 
{% endblock %}

{% block accountinfo %}
<div class="row">

    <div class="col-lg-4">
        <!-- Personal-Information -->
        <div class="card" style="min-height: 430px;">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-3">Обо мне</h4>
                {% if user['description'] %}
                <p class="text-muted font-15">{{ user['description'] }}</p>
                {% else %}
                <p class="text-muted font-15">
                    {% if current_user.is_authenticated %}
                        {% if current_user.get_id() == user['id'] %}
                        Не заполнено. <a href="{{ url_for('main_page.update_profile') }}">Заполнить</a>
                        {% else %}
                        Нет информации о пользователе.
                        {% endif %}
                    {% else %}
                        Нет информации о пользователе.
                    {% endif %}
                </p>
                {% endif %}

                <hr/>

                <div class="text-left">
                    <p class="text-muted"><strong>Приоритетная дисцилина:</strong><span class="ml-1">Dota 2</span></p>
                    <!-- {% if user['name'] %}
                    <p class="text-muted"><strong>Имя :</strong> <span class="ml-2">{{ user['name'] }}</span></p>
                    {% else %}
                    <p class="text-muted"><strong>Имя :</strong> <span class="ml-2">Не указано</span></p>
                    {% endif %}
                    {% if user['name'] %}
                    <p class="text-muted"><strong>Фамилия :</strong> <span class="ml-2">{{ user['second_name'] }}</span></p>
                    {% else %}
                    <p class="text-muted"><strong>Фамилия :</strong> <span class="ml-2">Не указано</span></p>
                    {% endif %}
                    {% if user['phone'] %}
                    <p class="text-muted"><strong>Телефон :</strong><span class="ml-2">{{ user['phone'] }}</span></p>
                    {% else %}
                    <p class="text-muted"><strong>Телефон :</strong> <span class="ml-2">Не указано</span></p>
                    {% endif %}
                    {% if user['email'] %}
                    <p class="text-muted"><strong>Почта :</strong> <span class="ml-2">{{ user['email'] }}</span></p>
                    {% else %}
                    <p class="text-muted"><strong>Почта :</strong> <span class="ml-2">Не указано</span></p>
                    {% endif %} -->

                    {% if user['link_fb'] or user['link_vk'] or user['link_twitter'] %}
                    <p class="text-muted mb-0 d-flex align-items-center"><strong>Аккаунты:</strong>
                        {% if user['link_fb'] %}
                        <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Facebook"><i class="mdi mdi-facebook"></i></a>
                        {% endif %}
                        {% if user['link_twitter']%}
                        <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Twitter"><i class="mdi mdi-twitter"></i></a>
                        {% endif %}
                        {% if user['link_vk'] %}
                        <a class="d-inline-block ml-2 text-muted" title="" data-placement="top" data-toggle="tooltip" href="{{ vk_link_path + user['link_vk']|string }}" data-original-title="Vkontakte"><i class="mdi mdi-vk-circle mdi-24px"></i></a>
                        {% endif %}
                    </p>
                    {% else %}
                    <p class="text-muted"><strong>Аккаунты:</strong> <span class="">нет привязанных аккаунтов</span></p>
                    {% endif %}

                </div>
                <hr/>
                <div>
                    <a href="{{ url_for('main_page.subscribers', user=user['id']) }}"><p class="text-muted font-15"><strong>Подписчики:</strong> <span id="count-subs">{{ count_subs[0] }}</span></p></a>
                    <a href="{{ url_for('main_page.subscriptions', user=user['id']) }}"><p class="text-muted font-15"><strong>Подписки:</strong> {{ count_subs[1] }}</p></a>
                </div>
            </div>
        </div>

    </div> <!-- end col-->

    <div class="col-lg-8">
        <!-- Chart-->
        <div class="card" style="min-height: 430px;">
            <div class="card-body">
                {% if predictions %}
                <div id="line-chart-zoomable" class="apex-charts" data-colors="#35b8e0"></div>
                {% else %}
                    <h4 style="text-align: center">График прибыли за всё время</h4>
                    {% if current_user.is_authenticated %}
                        {% if current_user.get_id() == user['id'] %}
                        <p class="text-muted" style="text-align: center">Вы не сделали ни одного прогноза. Необходимо сделать прогноз, чтобы посмотреть график.</p>
                        {% else %}
                        <p class="text-muted" style="text-align: center;">Этот пользователь не сделал ни одного прогноза.</p>
                        {% endif %}
                    {% else %}
                        <p class="text-muted" style="text-align: center;">Этот пользователь не сделал ни одного прогноза.</p>
                    {% endif %}
                
                {% endif %}
            </div>
        </div>
        <!-- End Chart-->
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="d-flex mt-0 mb-3" style="flex-direction: row;">
                    <h4 class="header-title"></h4>
                    <a href="{{ url_for('main_page.user_predictions', user=user['id'], type_pred='actual') }}"><p class="text-muted font-15" style="margin-left: 10px; margin-top: -4px;"><strong></strong></p></a>
                </div> -->
                <div class="d-flex title-сhoice-block__wrapper mb-3">
                    <h4 class="page-title title-сhoice-block__title">Статистика за 20 последних матчей</h4>
                    <a href="{{ url_for('main_page.user_predictions', user=user['id'], type_pred='actual') }}"><p class="text-muted font-15 title-сhoice-block__text" style="margin-top: -24px;"><strong>Показать все матчи</strong></p></a></a>
                </div>
                {% if predictions %}
                <div class="table-responsive">
                    <table class="table table-centered table-borderless table-hover w-100 dt-responsive nowrap" id="products-datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Лига</th>
                                <th>Команда 1</th>
                                <th>Команда 2</th>
                                <th>Тип ставки</th>
                                <th>Коэф.</th>
                                <th>Ставка</th>
                                <th>Выигрыш</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prediction in predictions %}
                            <!-- проверен прогноз или нет-->
                            {% if prediction['status_id'] == 0 %}
                                <!-- экспресс или нет -->
                                {% if prediction['type_id'] == 0 %}
                                <tr data-href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}" style="border-top: 2px solid var(--gray-100); border-bottom: 2px solid var(--gray-100);">
                                    <td style="max-width: 230px;">
                                        {{ prediction['liga'] }}
                                    </td>
                                    <td>
                                        <img class="account_last-20-teams_img" src="{{ logo_path + prediction['team1_img'] }}" alt="team1" style='height:20px;'>
                                        {{ prediction['team1'] }}
                                    </td>
                                    <td>
                                        <img class="account_last-20-teams_img" src="{{ logo_path + prediction['team2_img'] }}" alt="team1" style='height:20px;'>
                                        {{ prediction['team2'] }}
                                    </td>
                                    <td>
                                        {{ prediction['type_of_prediction'] }}
                                        
                                    </td>
                                    <td>
                                        {{ prediction['coefficient'] }}
                                    </td>
                                    <td>
                                        {{ prediction['stake_amount'] }} VRUB
                                    </td>
                                    <td> 
                                        Ожидание...
                                    </td>
                                </tr>
                                {% elif prediction['type_id'] == 1 %}
                                    <tr data-href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}" style="border-top: 2px solid var(--gray-100); border-bottom: 2px solid var(--gray-100);">
                                        <td>
                                            Экспресс
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    <img class="account_last-20-teams_img" src="{{ logo_path + express['team1_img'] }}" alt="team1" style='height:20px;'>
                                                    {{ express['team1'] }}
                                                </div>
                                                
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    <img class="account_last-20-teams_img" src="{{ logo_path + express['team2_img'] }}" alt="team1" style='height:20px;'>
                                                    {{ express['team2'] }}
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    {{ express['type_of_prediction'] }}
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ prediction['coefficient'] }}
                                        </td>
                                        <td>
                                            
                                            {{ prediction['stake_amount'] }} VRUB
                                        </td>
                                        <td> 
                                            Ожидание...
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                {% if prediction['type_id'] == 0 %}
                                <tr data-href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}" style="border-top: 2px solid var(--gray-100); border-bottom: 2px solid var(--gray-100);">
                                    <td style="max-width: 230px;">
                                        {{ prediction['liga'] }}
                                    </td>
                                    <td>
                                        <img class="account_last-20-teams_img" src="{{ logo_path + prediction['team1_img'] }}" alt="team1" style='height:20px;'>
                                        {{ prediction['team1'] }}
                                    </td>
                                    <td>
                                        <img class="account_last-20-teams_img" src="{{ logo_path + prediction['team2_img'] }}" alt="team1" style='height:20px;'>
                                        {{ prediction['team2'] }}
                                        
                                    </td>
                                    <td>
                                        {{ prediction['type_of_prediction'] }}
                                    </td>
                                    <td>
                                        {{ prediction['coefficient'] }}
                                    </td>
                                    <td>
                                        {{ prediction['stake_amount'] }} VRUB
                                    </td>
                                    <td> 
                                        {% if prediction['final_stake'] == 0 %}
                                            <span>{{ prediction['final_stake'] }} VRUB</span>
                                        {% elif prediction['final_stake'] > 0 %}
                                            <span style="color: #10c469;">{{ prediction['final_stake'] }} VRUB</span>
                                        {% else %}
                                            <span style="color: crimson;">{{ prediction['final_stake'] }} VRUB</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% elif prediction['type_id'] == 1 %}
                                    <tr data-href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}" style="border-top: 2px solid var(--gray-100); border-bottom: 2px solid var(--gray-100);">
                                        <td>
                                            Экспресс
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    <img class="account_last-20-teams_img" src="{{ logo_path + express['team1_img'] }}" alt="team1" style='height:20px;'>
                                                    {{ express['team1'] }}
                                                </div>
                                                
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    <img class="account_last-20-teams_img" src="{{ logo_path + express['team2_img'] }}" alt="team1" style='height:20px;'>
                                                    {{ express['team2'] }}
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for express in prediction['express'] %}
                                                <div class="cell_size_20_games" style="margin-bottom: 5px;">
                                                    {{ express['type_of_prediction'] }}
                                                </div>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ prediction['coefficient'] }}
                                        </td>
                                        <td>
                                            
                                            {{ prediction['stake_amount'] }} VRUB
                                        </td>
                                        <td> 
                                            {% if prediction['final_stake'] == 0 %}
                                                <span>{{ prediction['final_stake'] }} VRUB</span>
                                            {% elif prediction['final_stake'] > 0 %}
                                                <span style="color: #10c469;">{{ prediction['final_stake'] }} VRUB</span>
                                            {% else %}
                                                <span style="color: crimson;">{{ prediction['final_stake'] }} VRUB</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                    {% if current_user.is_authenticated %}
                        {% if current_user.get_id() == user['id'] %}
                        <p class="text-muted">Вы не сделали ни одного прогноза.</p>
                        {% else %}
                        <p class="text-muted">Этот пользователь не сделал ни одного прогноза.</p>
                        {% endif %}
                    {% else %}
                    <p class="text-muted">Этот пользователь не сделал ни одного прогноза.</p>
                    {% endif %}
                
                {% endif %}
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-3">Статистика за год по месяцам</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-borderless table-hover w-100 dt-responsive nowrap" id="products-datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Меcяц</th>
                                <th>Прогнозы</th>
                                <th>Выиграно</th>
                                <th>Проиграно</th>
                                <th>Прибыль</th>
                                <th>Винрейт</th>
                                <th>ROI</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for statistic in statistics %}
                            <tr>
                                <td>
                                    {{ statistic['month'] }} {{ statistic['year'] }}
                                </td>
                                <td>
                                    {{ statistic['amount_predictions'] }}
                                </td>
                                <td style="color: #10c469;">
                                    {{ statistic['successful_predictions'] }}
                                </td>
                                <td style="color: red;">
                                    {{ statistic['unsuccessful_predictions'] }}
                                </td>
                                <td>
                                    {{ statistic['profit'] }} VRUB
                                </td>
                                <td>
                                    {% if statistic['unsuccessful_predictions'] != 0 %}
                                    {{ statistic['successful_predictions']*100//statistic['amount_predictions'] }}%
                                    {% elif statistic['successful_predictions'] != 0 %}
                                        100 %
                                    {% else %}
                                        0 %
                                    {% endif %}
                                </td>
                                <td>
                                    {{ statistic['ROI'] }}%
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>
<!-- end row -->

</div>
<!-- end row -->
{% endblock %}


{% block scripts %}
<!-- <script src="{{ url_for('main_page.static', filename='js/vendor/Chart.bundle.min.js') }}"></script> -->
<!-- <script src="{{ url_for('main_page.static', filename='js/pages/demo.profile.js') }}"></script> -->
<script src="{{ url_for('main_page.static', filename='js/vendor/apexcharts.min.js') }}"></script>
<!-- third party end -->

<!-- demo:js -->
<script src="https://apexcharts.com/samples/assets/stock-prices.js"></script>
<script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
<!-- <script src="{{ url_for('main_page.static', filename='js/pages/demo.apex-line.js') }}"></script> -->
<!-- для таблицы -->
<script src="{{ url_for('main_page.static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('main_page.static', filename='js/vendor/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.checkboxes.min.js') }}"></script>
<!-- Cropper Main -->
<script src="{{ url_for('main_page.static', filename='js/cropper.min.js') }}"></script>

<!-- Datatables -->
<script>
    $(document).ready( function() {
        $('.account_last-20-teams_img').each(function() {
            if ( !this.complete
            ||   typeof this.naturalWidth == "undefined"
            ||   this.naturalWidth == 0                  ) {
            // image was broken, replace with your new image
            this.src = 'https://www.precisionpass.co.uk/wp-content/uploads/2018/03/default-team-logo.png';
            }
        });
    });

    jQuery(document).ready(function($) {
        $('*[data-href]').on('click', function() {
            window.location = $(this).data("href");
        });
    });

    var apex_points = JSON.parse('{{ apexdata|safe }}');
    let len_apex_points = Object.keys(apex_points).map(function(item) {
        return apex_points[item];
    });
    data_points = [];
    for (i = 0; i < len_apex_points.length; i++) {
        data_points.push(apex_points[i].split(', ').map(function(item){
            return +item;
        }));
    }
    data_points.sort(function(a, b) {
        if (a[0] > b[0] ) return 1;
        if (a[0]  == b[0] ) return 0;
        if (a[0]  < b[0] ) return -1;
    })



    var colors = ["#fa5c7c"];
    (dataColors = $("#line-chart-zoomable").data("colors")) && (colors = dataColors.split(","));
    var options = {
        chart: {
            type: "area",
            stacked: !1,
            height: 380,
            zoom: {
                enabled: !0
            },
            toolbar: {
                    show: true,
                    tools: {
                        download: false,
                        selection: true,
                        zoom: true,
                        zoomin: false,
                        zoomout: false,
                        pan: true
                    }
                }
            
        },
        plotOptions: {
            line: {
                curve: "smooth"
            }
        },
        dataLabels: {
            enabled: !1,
        },
        stroke: {
            width: [3]
        },
        series: [{
            name: "Прибыль",
            data: data_points
        }],
        markers: {
            size: 0,
            style: "full"
        },
        colors: ['#10C469'],
        title: {
            text: "Прибыль за всё время",
            align: "left"
        },
        grid: {
            row: {
                colors: ["transparent", "transparent"],
                opacity: .2
            },
            borderColor: "#f1f3fa"
        },
        fill: {
            colors: ['#FFF', '#FFF', '#FFF'],
            gradient: {
                enabled: !0,
                shadeIntensity: 1,
                inverseColors: !1,
                opacityFrom: 0,
                opacityTo: 0,
                stops: [0, 70, 80, 100]
            }
        },
        xaxis: {
            type: "datetime"
        },
        responsive: [{
            breakpoint: 600,
            options: {
                chart: {
                    toolbar: {
                        show: false,
                        tools: {
                            download: false,
                            selection: false,
                            zoom: false,
                            zoomin: true,
                            zoomout: true,
                            pan: true
                        }
                    }
                },
                legend: {
                    show: !1
                }
            }
        }]
    };
    (chart = new ApexCharts(document.querySelector("#line-chart-zoomable"), options)).render();
</script>

<!-- Cropper -->
<script>
    function getRoundedCanvas(sourceCanvas) {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var width = sourceCanvas.width;
        var height = sourceCanvas.height;
  
        canvas.width = width;
        canvas.height = height;
        context.imageSmoothingEnabled = true;
        context.drawImage(sourceCanvas, 0, 0, width, height);
        context.globalCompositeOperation = 'destination-in';
        context.beginPath();
        context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
        context.fill();
        return canvas;
      }
  
      window.addEventListener('DOMContentLoaded', function () {
        var avatar = document.getElementById('avatar');
        var avatar_leftbar = document.getElementById('user_avatar_leftbar')
        var avatar_navbar = document.getElementById('user_avatar_navbar')
        var image = document.getElementById('image');
        var input = document.getElementById('input');
        var $progress = $('.progress');
        var $progressBar = $('.progress-bar');
        var $alert = $('.alert-user-avatar');
        var $modal = $('#modal');
        var cropper;
  
        $('[data-toggle="tooltip"]').tooltip();
  
        input.addEventListener('change', function (e) {
          var files = e.target.files;
          var done = function (url) {
            input.value = '';
            image.src = url;
            $alert.hide();
            $modal.modal('show');
          };
          var reader;
          var file;
          var url;
  
          if (files && files.length > 0) {
            file = files[0];
  
            if (URL) {
              done(URL.createObjectURL(file));
            } else if (FileReader) {
              reader = new FileReader();
              reader.onload = function (e) {
                done(reader.result);
              };
              reader.readAsDataURL(file);
            }
          }
        });
  
        $modal.on('shown.bs.modal', function () {
          cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
          });
        }).on('hidden.bs.modal', function () {
          cropper.destroy();
          cropper = null;
        });
  
        document.getElementById('crop').addEventListener('click', function () {
          var initialAvatarURL;
          var canvas;
  
          $modal.modal('hide');
  
          if (cropper) {
            canvas = cropper.getCroppedCanvas({
              width: 200,
              height: 200,
            });
            canvas = getRoundedCanvas(canvas);
            initialAvatarURL = avatar.src;

            avatar.src = canvas.toDataURL();
            $progress.show();
            $alert.removeClass('alert-success alert-warning');
            canvas.toBlob(function (blob) {
              var formData = new FormData();
  
              formData.append('avatar', blob, 'avatar.jpg');
              $.ajax("{{ url_for( 'main_page.upload_user_avatar') }}", {
                method: 'POST',
                data: formData,
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                processData: false,
                contentType: false,
  
                xhr: function () {
                  var xhr = new XMLHttpRequest();
  
                  xhr.upload.onprogress = function (e) {
                    var percent = '0';
                    var percentage = '0%';
  
                    if (e.lengthComputable) {
                      percent = Math.round((e.loaded / e.total) * 100);
                      percentage = percent + '%';
                      $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                    }
                  };
  
                  return xhr;
                },
  
                success: function () {
                    avatar_leftbar.src = avatar.src;
                    avatar_navbar.src = avatar.src; 
                    $alert.show().addClass('alert-success').text('Загрузка успешно завершена');
                    setTimeout (function () {
                        $alert.hide();
                    }, 3800)
                },
  
                error: function () {
                  avatar.src = initialAvatarURL;
                  $alert.show().addClass('alert-warning').text('Ошибка загрузки');
                },
  
                complete: function () {
                  $progress.hide();
                },
              });
            });
          }
        });
      });
</script>
<!-- End Cropper -->
{% endblock %}