{% extends "starter-page.html" %}

{% block page_title %}Cybertips - аккаунт{% endblock %}

{% block content %}

    {% block pagebread %}{% endblock %}

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div class="alert alert-user-avatar" role="alert"></div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Profile -->
            <div class="card bg-primary">
                <div class="card-body profile-user-box">

                    <div class="row low-account-position-unique">
                        <div class="col-sm-8">
                            
                            <div class="media row media-low-account-position-unique">

                                {% if current_user.get_id() == user['id'] %}
                                <label class="label float-left m-2 mr-4 label-low-pos-unique" data-toggle="tooltip" title="Изменить изображение">
                                    <span class="img-low-account-position-unique">
                                        <img class="rounded rounded-circle img-thumbnail" id="avatar" src="{{ url_for('main_page.static', filename='images/users_avatar/' + user['user_img']) }}" alt="avatar" style="height: 100px;">
                                        <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                                    </span>
                                </label>
                                {% else %}
                                <span class="float-left m-2 mr-4 img-low-account-position-unique">
                                    <img class="rounded rounded-circle img-thumbnail" id="avatar" src="{{ url_for('main_page.static', filename='images/users_avatar/' + user['user_img']) }}" alt="avatar" style="height: 100px;">
                                    <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                                </span>
                                {% endif %}

                                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="modalLabel">Обрезка изображения</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="img-container">
                                            <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                          <button type="button" class="btn btn-primary" id="crop">Обрезать и загрузить</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                <div class="media-body">
                                    <div class="d-flex" style="flex-direction: row; align-items: center; margin-bottom: 5px;">
                                        <h4 class="mt-1 mb-1 text-white">{{ user['nickname'] }}</h4>
                                        {% if user['amount_credits'] == 0 %}
                                            <p class="font-13 user-credit-header text-user-info" style="border: 1.6px solid #10C469;">Выдано кредитов: {{ user['amount_credits'] }}</p>
                                        {% else %}
                                            <p class="font-13 user-credit-header text-user-info" style="border: 1.6px solid #fec007;">Выдано кредитов: {{ user['amount_credits'] }}</p>
                                        {% endif %}
                                    </div>
                                    
                                    <!-- <p class="mb-0 font-13 text-white-50">Выдано кредитов: 2</p> -->
                                    <p class="account-text-registration font-13 text-white-50">Зарегистрирован: </p>
                                    <p class="account-date-registration font-13 text-white-50 local-date">{{ user['date_of_registration'] }}</p>

                                    <ul class="mb-0 list-inline">
                                        <li class="list-inline-item mr-3 li-low-account-position-unique">
                                            <h5 class="mb-1 text-user-info">{{ user_obj[3] }} VRUB</h5>
                                            <p class="mb-0 font-13 text-white-50">Всего заработано</p>
                                        </li>
                                        <li class="list-inline-item mr-3 li-low-account-position-unique">
                                            <h5 class="mb-1 text-user-info">{{ user_obj[2] }}</h5>
                                            <p class="mb-0 font-13 text-white-50">Количество прогнозов</p>
                                        </li>
                                        <li class="list-inline-item mr-3 li-low-account-position-unique">
                                            <h5 class="mb-1 text-user-info">{{ user_obj[0] }}%</h5>
                                            <p class="mb-0 font-13 text-white-50">% побед</p>
                                        </li>
                                        <li class="list-inline-item mr-3 li-low-account-position-unique">
                                            <h5 class="mb-1 text-user-info">{{ user_obj[1] }}%</h5>
                                            <p class="mb-0 font-13 text-white-50">ROI</p>
                                        </li>
                                        <!-- <li class="list-inline-item li-low-account-position-unique">
                                            <h5 class="mb-1">{{ user['subscribers'] }}</h5>
                                            <p class="mb-0 font-13 text-white-50">Что то ещё</p>
                                        </li> -->
                                    </ul>
                                </div> <!-- end media-body-->
                            </div>
                        </div> <!-- end col-->

                        <div class="col-sm-4">
                            <div id="profile_btn_block" class="text-center mt-sm-0 mt-3 text-sm-right">
                                {% if current_user.get_id() == user['id'] %}
                                <a href="{{ url_for( 'main_page.update_profile' ) }}">
                                    <button type="button" class="btn btn-light">
                                        <i class="mdi mdi-account-edit mr-1"></i> Редактировать
                                    </button>
                                </a>
                                {% elif is_subscriber %}
                                <button type="button" class="btn btn-light" id='unsubscribe' info="{{ user['id'] }}" style="background-color: #ad2b2b; border-color: #ad2b2b; color: #dbdbdb;">
                                    <i class="mdi mdi-account-edit mr-1"></i> Отписаться
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-light" id='subscribe' info="{{ user['id'] }}">
                                    <i class="mdi mdi-account-edit mr-1"></i> Подписаться
                                </button>
                                {% endif %}

                            </div>
                        </div> <!-- end col-->
                    </div> <!-- end row -->

                </div> <!-- end card-body/ profile-user-box-->
            </div><!--end profile/ card -->
        </div> <!-- end col-->
    </div>
    <!-- end row -->
    {% block accountinfo %}{% endblock %}


{% endblock %}