{% extends "starter-page.html" %}

{% block page_title %}Добавить прогноз{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="/add-express" >Добавить прогноз</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Добавление прогноза</h4>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body" style="margin-top: 6rem;">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div id="changing-while-resizing-whole-wrapper" class="col-10 add-prog-low-unique">
                        <div class="wizard">
                            <div class="wizard-inner">
                                <div class="connecting-line"></div>
                                <ul class="nav nav-tabs" role="tablist" style="flex-wrap: nowrap;">
                                    <li role="presentation" class="active pointer-events-none" id="pres-step1">
                                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true" id='nav-step1'><span class="round-tab">1 </span> <i>Лига</i></a>
                                    </li>
                                    <li role="presentation" class="disabled pointer-events-none" id="pres-step2">
                                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" aria-expanded="false" id='nav-step2'><span class="round-tab">2</span> <i>Матч</i></a>
                                    </li>
                                    <li role="presentation" class="disabled pointer-events-none" id="pres-step3">
                                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" id='nav-step3'><span class="round-tab">3</span> <i style="transform: translate(-20%, -50%);">Событие</i></a>
                                    </li>
                                    <li role="presentation" class="disabled pointer-events-none" id="pres-step4">
                                        <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" id='nav-step4'><span class="round-tab">4</span> <i style="transform: translate(-20%, -50%);">Прогноз</i></a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="mt-5 mb-2" id="curr-expresses"></div>

                            <div>
                                <div class="tab-content" id="main_form">
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <h4 class="text-center mb-3">Выбор лиги</h4>
                                        <div class="row align-items-center justify-content-between">
                                            {% for league in all_leagues_dota %}
                                            <div class="col-12 col-md-6 col-xl-4 border-red border row align-items-center mt-2 league_choose next-step add_prognos_card_hover" style="height: 75px; cursor: pointer;">
                                                <div class="league_choose_wrapper">
                                                    <img src="{{ url_for('main_page.static', filename='images/teams/dota2.png') }}" class="league_choose_wrapper_img">
                                                    <span class="league_choose_wrapper_text">{{ league }}</span>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div> 
                                        <ul class="list-inline pull-right" style="width: 100%;" id="buttons-step1">
                                            <!-- <li><button type="button" class="btn btn-success default-btn next-step">Продолжить</button></li> -->
                                        </ul>
                                    </div>
    
    
                                    <div class="tab-pane" role="tabpanel" id="step2">
                                        <h4 class="text-center">Выбор матча</h4>
                                        <div class="row justify-content-between" id="team-commands-create"></div>                                     
                                        <ul class="list-inline pull-right" style="width: 100%;" id='buttons-step2'>
                                            <li style="float: right;"><button type="button" class="btn btn-secondary default-btn prev-step">Назад</button></li>
                                            <!-- <li><button type="button" class="btn btn-success default-btn next-step">Продолжить</button></li> -->
                                        </ul>
                                    </div>
    
    
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <h4 class="text-center">Выбор события</h4>
                                        <div class="row justify-content-between align-items-center" id="add_events">
                                        </div>
                                        <ul class="list-inline pull-right" style="width: 100%;" id='buttons-step3'>
                                            <li style="float: right;"><button type="button" class="btn btn-secondary default-btn prev-step prev-step-3">Назад</button></li>
                                            <!-- <li><button type="button" class="btn btn-success default-btn next-step">Продолжить</button></li> -->
                                        </ul>
                                    </div>
    
    
                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <h4 class="text-center" id="h4-amount-expresses">Описание прогноза</h4>
                                        <div class="row justify-content-between align-items-center" id="add_description">
                                            <div class="col-12 mt-4 pl-0 pr-0 add-prognos__change-mt-on-phones" style="right: 12px;">
                                                <form class="comment-area-box" id="add-prediction-form">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <input type="hidden" name='user_id' value="{{ current_user.get_id() }}">
                                                    <input type="hidden" name='liga' value="">
                                                    <input type="hidden" name='team1' value="">
                                                    <input type="hidden" name='team2' value="">
                                                    <input type="hidden" name='team1_img' value="">
                                                    <input type="hidden" name='team2_img' value="">
                                                    <input type="hidden" name='coefficient' value="">
                                                    <input type="hidden" name='type_of_prediction' value="">
                                                    <input type="hidden" name='game_start_time' value="">
                                                    <div id="desktop-range-slider-wrapper" class="d-flex justify-content-between">
                                                        <div class="d-flex range-slider-wrapper">
                                                            <input id="js-range-slider-changing" class="form-control mb-1" type="number" name='stake_amount' value="" placeholder="Сумма ставки..." style='width: 150px;' tabindex="0" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="">
                                                            <input type="text" class="js-range-slider" name="my_range" value="" />
                                                        </div>
                                                        <div id="current-lenght-textarea-wrapper" style="display: flex; align-items: flex-end;">
                                                            <span class="" style="" id='current-lenght-textarea'>0&nbsp;</span> / <span id='max-length-change'>750</span>
                                                        </div>
                                                        
                                                    </div>
                                                    <textarea id="text-area-description" rows="3" minlenght="10" class="form-control border rounded resize-none-unique" placeholder="Описание должно содержать не менее 75 символов..." name="description"></textarea>
                                                    <div id="phone-range-slider-wrapper" style="float: right;"></div>
                                                    <ul class="list-inline pull-right" style="width: 100%;" id="buttons-step4">
                                                        <li style="float: left;"><button type="button" onclick="one_more_express()" class="btn btn-secondary default-btn btn-one-more-express prev-step-removing prev-step-removing prev-step-3 prev-step-4-clear" >Добавить ещё исход в экспресс</button></li>
                                                        <li style="float: right;"><button type="button" id="btn-return-to-step1" onclick="return_to_step1()" class="btn btn-secondary default-btn prev-step prev-step-4-clear ">Назад</button></li>
                                                        <!-- <input type="submit" class="btn btn-success default-btn next-step" value='Добавить прогноз' name='submit' style="display: none;"> -->
                                                    </ul>
                                                </form>
                                            </div> <!-- end .border-->
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}




{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('main_page.static', filename='js/pages/add-prognos/add-prognos.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/pages/add-prognos/range-slider.js') }}"></script>
    <script>
        // менять можно только эти переменные
        var max_description_length = 750; // ограничение в бд на 800 на 12.01.2021
        var min_description_length = 75;
        var min_stake_amount = 10;
        var max_stake_amount = 250;


        var already_deleted = []; // cotains ids which was deleted via close svg, make nullable via btn one_more_express
        var to_the_first_step = -1;

        function onErrorChange(source) {
            source.onerror=null; // убираем onerror
            source.src='https://www.precisionpass.co.uk/wp-content/uploads/2018/03/default-team-logo.png'; // подгружаем картинку с альтернативного ресурса
            return true;
        }
        
        function check_in_array(val, array) {
                var
                    hash = {},
                    indexes = {},
                    i, j;
                for (i = 0; i < array.length; i++) {
                    hash[array[i]] = i;
                }
                return (hash.hasOwnProperty(val)) ? hash[val] : -1;
            }


        // fast-forward buttons
        function link1_to_step4() {
                to_the_first_step = 1;
                $("#step4-add-prev-expresess").children().remove();
                document.getElementById("step4").classList.add("active");
                document.getElementById("step1").classList.remove("active");
                document.getElementById("nav-step4").setAttribute('aria-selected', true);
                document.getElementById("nav-step4").classList.add("active");
                document.getElementById("nav-step1").setAttribute('aria-selected', false);
                document.getElementById("nav-step1").classList.remove("active");
                document.getElementById("pres-step1").classList.remove("active");
                document.getElementById("pres-step1").classList.add("disabled");
                document.getElementById("pres-step4").classList.remove("disabled");
                document.getElementById("pres-step4").classList.add("active");
            }

            function link2_to_step4() {
                to_the_first_step = 2;
                $("#step4-add-prev-expresess").children().remove();
                document.getElementById("step4").classList.add("active");
                document.getElementById("step2").classList.remove("active");
                document.getElementById("nav-step4").setAttribute('aria-selected', true);
                document.getElementById("nav-step4").classList.add("active");
                document.getElementById("nav-step2").setAttribute('aria-selected', false);
                document.getElementById("nav-step2").classList.remove("active");
                document.getElementById("pres-step2").classList.remove("active");
                document.getElementById("pres-step2").classList.add("disabled");
                document.getElementById("pres-step4").classList.remove("disabled");
                document.getElementById("pres-step4").classList.add("active");
            }

            function link3_to_step4() {
                to_the_first_step = 3;
                $("#step4-add-prev-expresess").children().remove();
                document.getElementById("step4").classList.add("active");
                document.getElementById("step3").classList.remove("active");
                document.getElementById("nav-step4").setAttribute('aria-selected', true);
                document.getElementById("nav-step4").classList.add("active");
                document.getElementById("nav-step3").setAttribute('aria-selected', false);
                document.getElementById("nav-step3").classList.remove("active");
                document.getElementById("pres-step3").classList.remove("active");
                document.getElementById("pres-step3").classList.add("disabled");
                document.getElementById("pres-step4").classList.remove("disabled");
                document.getElementById("pres-step4").classList.add("active");
            }

            function link4_to_step1() {
                document.getElementById("step1").classList.add("active");
                document.getElementById("step4").classList.remove("active");
                document.getElementById("nav-step1").setAttribute('aria-selected', true);
                document.getElementById("nav-step1").classList.add("active");
                document.getElementById("nav-step4").setAttribute('aria-selected', false);
                document.getElementById("nav-step4").classList.remove("active");
                document.getElementById("pres-step4").classList.remove("active");
                document.getElementById("pres-step4").classList.add("disabled");
                document.getElementById("pres-step1").classList.remove("disabled");
                document.getElementById("pres-step1").classList.add("active");
            }

             // тут костыль, так как у кнопки назад есть prev-step, то он перебросит в любом случае на 1 шаг назад, приходится брать с запасом на 1 
            function return_to_step1() {
                if ( to_the_first_step == 1 ) {
                    document.getElementById("step2").classList.add("active");
                    document.getElementById("step4").classList.remove("active");
                    document.getElementById("nav-step2").setAttribute('aria-selected', true);
                    document.getElementById("nav-step2").classList.add("active");
                    document.getElementById("nav-step4").setAttribute('aria-selected', false);
                    document.getElementById("nav-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.add("disabled");
                    document.getElementById("pres-step2").classList.remove("disabled");
                    document.getElementById("pres-step2").classList.add("active");
                    to_the_first_step = 0;
                }
                else if ( to_the_first_step == 2 ) {
                    document.getElementById("step3").classList.add("active");
                    document.getElementById("step4").classList.remove("active");
                    document.getElementById("nav-step3").setAttribute('aria-selected', true);
                    document.getElementById("nav-step3").classList.add("active");
                    document.getElementById("nav-step4").setAttribute('aria-selected', false);
                    document.getElementById("nav-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.add("disabled");
                    document.getElementById("pres-step3").classList.remove("disabled");
                    document.getElementById("pres-step3").classList.add("active");
                    to_the_first_step = 0;
                }
                else if ( to_the_first_step == 3 ) {
                    document.getElementById("step4").classList.add("active");
                    document.getElementById("step4").classList.remove("active");
                    document.getElementById("nav-step4").setAttribute('aria-selected', true);
                    document.getElementById("nav-step4").classList.add("active");
                    document.getElementById("nav-step4").setAttribute('aria-selected', false);
                    document.getElementById("nav-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.remove("active");
                    document.getElementById("pres-step4").classList.add("disabled");
                    document.getElementById("pres-step4").classList.remove("disabled");
                    document.getElementById("pres-step4").classList.add("active");
                    to_the_first_step = 0;
                }
                else {
                    if (already_deleted.indexOf(games[games.length-1]) == -1) {
                        games.pop();
                    }
                }
            }  // end fast-forward buttons

            // create collapse button
            function create_btn_collapse() {
                if ( getLenghtGames(games) > 0 ) {
                    $("#btn-collapse").remove();
                    collapse_elem = `<a class="btn btn-primary" id="btn-collapse" data-toggle="collapse" href="#collapseExpress" aria-expanded="false" aria-controls="collapseExpress" style="width: 100%; margin-left: -10px;">Показать экпрессы: ${ getLenghtGames(games) }</a>`;
                    $("#curr-expresses").prepend(collapse_elem);
                } else {
                    $("#btn-collapse").remove();
                }
            }
            
            // add game cards to collapse 
            function show_games(type) {
                if (type == 1) {
                    $("#curr-expresses").children().remove();
                    $("#step4-add-prev-expresess").children().remove();
                    create_btn_collapse();
                    for ( i = 0; i < getLenghtGames(games); i++ ) {
                        const express_elem = `<div class="col-12 border row align-items-center mt-2 description_content collapse" id="collapseExpress">
                                                <div class="description_wrapper">
                                                    <i class="mdi mdi-close ml-2 express-mdi-close express-mdi-close-on-phone" style="cursor: pointer;"></i> 
                                                    <span class="description_time">${ games[i]['time'] }</span>
                                                    <div class="description_teams">
                                                        <div class="description_team">
                                                            <img src="{{ logo_path }}${ games[i]['img1'] }" class="description_team_img" onerror="javascript:onErrorChange(this);">
                                                            <span class="description_team_span" id="find-team1">${ games[i]['team1'] }</span>
                                                        </div>
                                                        <div class="description_team">
                                                            <img src="{{ logo_path  }}${ games[i]['img2'] }" class="description_team_img" onerror="javascript:onErrorChange(this);">
                                                            <span class="description_team_span" id="find-team2">${ games[i]['team2'] }</span>
                                                        </div>
                                                    </div>
                                                    <span class="description_league">${ games[i]['league'] }</span>
                                                    <div class="description_event">
                                                        <span class="description_event_type">${ games[i]['event_type'] }:</span>
                                                        <span class="description_event_content">${ games[i]['event_content'] }</span>
                                                    </div>
                                                    <input type="hidden" name='' value="${ games[i]['game_id'] }">
                                                    <i class="mdi mdi-close ml-2 express-mdi-close" style="cursor: pointer;"></i>    
                                                </div>
                                            </div>`;
                        $("#curr-expresses").append(express_elem);
                    }
                }
                else if ( type == 2 ) {
                    $("#curr-expresses").children().remove();
                    $("#step4-add-prev-expresess").children().remove();
                    create_btn_collapse();
                    for ( i = 0; i < getLenghtGames(games); i++ ) {
                        const express_elem = `<div class="col-12 border row align-items-center mt-2 description_content">
                                                <div class="description_wrapper">
                                                    <i class="mdi mdi-close ml-2 express-mdi-close express-mdi-close-on-phone" style="cursor: pointer;"></i> 
                                                    <span class="description_time">${ games[i]['time'] }</span>
                                                    <div class="description_teams">
                                                        <div class="description_team">
                                                            <img src="{{ logo_path }}${ games[i]['img1'] }" class="description_team_img" onerror="javascript:onErrorChange(this);">
                                                            <span class="description_team_span id="find-team1"">${ games[i]['team1'] }</span>
                                                        </div>
                                                        <div class="description_team">
                                                            <img src="{{ logo_path  }}${ games[i]['img2'] }" class="description_team_img" onerror="javascript:onErrorChange(this);">
                                                            <span class="description_team_span id="find-team2"">${ games[i]['team2'] }</span>
                                                        </div>
                                                    </div>
                                                    <span class="description_league">${ games[i]['league'] } </span>
                                                    <div class="description_event">
                                                        <span class="description_event_type">${ games[i]['event_type'] }:</span>
                                                        <span class="description_event_content">${ games[i]['event_content'] }</span>
                                                    </div>
                                                    <input type="hidden" name='' value="${ games[i]['game_id'] }">
                                                    <i class="mdi mdi-close ml-2 express-mdi-close" style="cursor: pointer;"></i>    
                                                </div>
                                            </div>`;
                        $("#step4-add-prev-expresess").append(express_elem);
                    }
                } 
            }
        // add one more express button
        function one_more_express() {
            link4_to_step1();
            already_deleted = [];
        }

        // close game card
        $(document).on('click', '.express-mdi-close', function(e) {
            for (elem = 0; elem < getLenghtGames(games); elem++ ) {
                if ( games[elem]['game_id'] == $(this).parent().find("input").val() ) {
                    already_deleted.push(games[elem]['game_id']);
                    games.splice(elem, 1);
                }
            }
            $(this).parent().parent().remove();
            create_btn_collapse();
        });


        var add_prognos_game = [];
        var global_event = {};

        // на первом шаге получаем лигу которую выбрали
        $('.league_choose').click(function() {
            curr_league = 'Dota 2. ' + $(this).find('span').text();
        });

        // на 2 шаге получаем игры из выбранной лиги
        function get_dota_games(name_league) {
            var dota_all_games = JSON.parse('{{ dota_games|safe }}');
            teams_dota = [];
            for (var i = 0; i < dota_all_games.length; i++) {
                let curr_game_checking = [dota_all_games[i]['liga'], dota_all_games[i]['team1'], dota_all_games[i]['team2']];
                if ( dota_all_games[i].liga == name_league ) {
                    teams_dota.push(dota_all_games[i]);
                }
            }
            return teams_dota;
        }

        // проверяем включена ли игра уже в экспрессы для второго шага
        function check_already_include_game(liga, team1, team2) {
            ans = -1;
            if ( getLenghtGames(games) > 0 ) {
                for ( elem = 0; elem < getLenghtGames(games); elem++ ) {
                    if ( liga == games[elem]['league'] && team1 == games[elem]['team1'] && team2 == games[elem]['team2'] ) {
                        ans = 1;
                    }
                    else {
                        if ( ans != 1 ) {
                            ans = 0;
                        }
                    }
                }
                if (ans == 1) {
                    return true;
                } else {
                    return false;
                }
            } else {
                return false;
            }
        }

        // отображение всех игры лиги на 2 шаге
        function add_elem(teams_dota) {
            for (var i = 0; i < teams_dota.length; i++) {
                if ( check_already_include_game( teams_dota[i]['liga'], teams_dota[i]['team1'], teams_dota[i]['team2']) == false) {
                    const elem =`<div id="teams-used-check" class="col-12 col-md-6 border-red border row align-items-center mt-2 justify-content-center next-step team_game_remove teams_choose team_game_choose add_prognos_card_hover" style="padding: 15px 7px 10px 15px; cursor: pointer;">\
                                <input type="hidden" name='game_uri' value="${ teams_dota[i].uri }">
                                <div class="choose_game_wrapper team-logo-low-unique" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    
                                    <span id="team1" class="choose_game_wrapper_text"><strong>${teams_dota[i].team1}</strong></span>\
                                </div>\
                                <div class="choose_game_wrapper_time" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    <span id="start_time" class="choose_game_wrapper_time_span">${ local_time( parseInt(teams_dota[i].start.replace(/\D/g,'').substr(0,13)), 'exactly') }</span>\
                                </div>\
                                <div class="choose_game_wrapper team-logo-low-unique" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    
                                    <span id="team2" class="choose_game_wrapper_text"><strong>${teams_dota[i].team2}</strong></span>\
                                </div>\
                            </div>`;
                    $('#team-commands-create').append(elem);
                } else {
                    const elem = `<div id="teams-used-check" class="col-12 col-md-6 border-red border row align-items-center mt-2 justify-content-center next-step team_game_remove teams_choose team_game_choose add_prognos_card_hover already_used_game" style="padding: 15px 7px 10px 15px; cursor: pointer;">\
                                <input type="hidden" name='game_uri' value="${ teams_dota[i].uri }">
                                <div class="choose_game_wrapper team-logo-low-unique" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    
                                    <span id="team1" class="choose_game_wrapper_text"><strong>${teams_dota[i].team1}</strong></span>\
                                </div>\
                                <div class="choose_game_wrapper_time" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    <span id="start_time" class="choose_game_wrapper_time_span">${ local_time( parseInt(teams_dota[i].start.replace(/\D/g,'').substr(0,13)), 'exactly') }</span>\
                                </div>\
                                <div class="choose_game_wrapper team-logo-low-unique" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                    
                                    <span id="team2" class="choose_game_wrapper_text"><strong>${teams_dota[i].team2}</strong></span>\
                                </div>\
                            </div>`;
                    $('#team-commands-create').append(elem);
                }
            }
        }

        // текущая лига на протяжении всех шагов, необходима для правильного отображение уже включенных игр в экспресс
        var curr_league = '';

        // основная логика пошагового движения
        $(document).on('click', '.next-step, .prev-step, .btn-one-more-express, #express-find-step1, #express-find-step2, #express-find-step3', function(e) {
                $("#curr-expresses").css('display', 'block');
                // первый шаг - лиги
                if ( document.getElementById("pres-step1").classList.contains("active") ) {
                    curr_league = '';
                    $("#btn-collapse").remove();
                    $("#express-find-step1").remove();
                    if ( getLenghtGames(games) > 0 ) {
                        $("#buttons-step1").append(`<li><button type="button" onclick="link1_to_step4()" class="btn btn-secondary to-step4-btn default-btn prev-step-removing prev-step-3 prev-step-4-clear" id="express-find-step1">К описанию</button></li>`);
                        show_games(1);
                    }
                }
                // второй шаг - игры
                if ( document.getElementById("pres-step2").classList.contains("active") ) {
                    $("#btn-collapse").remove();
                    $('.team_game_remove').remove();
                    teams_dota = get_dota_games(curr_league);
                    add_prognos_game.push(teams_dota);
                    add_elem(teams_dota);
                    $("#express-find-step2").remove();
                    if ( getLenghtGames(games) > 0 ) {
                        $("#buttons-step2").append(`<li><button type="button" onclick="link2_to_step4()" class="btn btn-secondary to-step4-btn default-btn prev-step-removing prev-step-3 prev-step-4-clear" id="express-find-step2">К описанию</button></li>`);
                        show_games(1);
                    }
                }
                // третий шаг - евенты
                if ( document.getElementById("pres-step3").classList.contains("active") ) {
                    $("#btn-collapse").remove();
                    $("#express-find-step3").remove();
                    if ( getLenghtGames(games) > 0 ) {
                        $("#buttons-step3").append(`<li><button type="button" onclick="link3_to_step4()" class="btn btn-secondary to-step4-btn default-btn prev-step-removing prev-step-3 prev-step-4-clear" id="express-find-step3">К описанию</button></li>`);
                        show_games(1);
                    }
                }

                // 4 шаг - описание прогноза
                if ( document.getElementById("pres-step4").classList.contains("active") ) {
                    $("#btn-collapse").remove();
                    $("#hr-step4").css("display", 'block');
                    $("#step4-add-prev-expresess").css('display', 'block');
                    $("#h4-amount-expresses").text("Описание прогнозов");
                    $("#btn-collapse").removeClass("show");
                    $("#curr-expresses").css('display', 'none');
                    show_games(2);
                }

            // for the first laucnh !NOT DELETE
            // if ( document.getElementById("pres-step4").classList.contains("active") ) {
            //         $("#hr-step4").css("display", 'block');
            //         $("#step4-add-prev-expresess").css('display', 'block');
            //         $("#h4-amount-expresses").text("Описание прогнозов");
            //         $("#btn-collapse").removeClass("show");
            //         $("#curr-expresses").css('display', 'none');
            //         show_games(2);
            // }
        });

    
        //  ....
        $(document).ready(function () {

            socket.on('game_id', function(event) {
                global_event = event;
                add_events(event);
            });


            $("body").on('click', '.teams_choose',function (e) {
                var text_uri = $(this).find("input").val();
                socket.emit('add_event', text_uri);
            });

            $("body").on('click', '.event_choose',function (e) {
                var text_event_type= $(this).find('#type_event').text();
                var text_event_content = $(this).find('#content_event').text();
                add_description(text_event_type, text_event_content);
            });

            $('.nav-tabs > li a[title]').tooltip();
            
            //Wizard
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        
                var target = $(e.target);
                if (target.parent().hasClass('disabled')) {
                    return false;
                }
            });
        
            $("body").on('click', '.next-step',function (e) {
        
                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                nextTab(active);
        
            });

            $(".prev-step").click(function (e) {
                var active = $('.wizard .nav-tabs li.active');
                prevTab(active);
            });

            $(".prev-step-3").click(function (e) {
                $('.events_remove').remove();
            });


            $(".prev-step-4-clear").click(function (e) {
                $('.description_game_card_remove').remove();
                $('#hr-step4').css('display', 'none');
                $('#step4-add-prev-expresess').css('display', 'none');
                $("#h4-amount-expresses").text("Описание прогноза");
            });


            function nextTab(elem) {
                $(elem).next().find('a[data-toggle="tab"]').click();
            }
            function prevTab(elem) {
                $(elem).prev().find('a[data-toggle="tab"]').click();
            }
            
            $('.nav-tabs').on('click', 'li', function() {
                $('.nav-tabs li.active').removeClass('active');
                $(this).addClass('active');
            });

            

            function delete_already_include_game(game_id) {
                if ( getLenghtGames(games) > 0 ) {
                    for ( elem = 0; elem < getLenghtGames(games); elem++ ) {
                        if ( game_id == games[elem]['game_id'] ) {
                            games.splice(elem, 1);
                        }
                    }
                }
            }

            function add_description(event_type, event_content) {
                event = JSON.parse(global_event)['Value'];
                delete_already_include_game(event['CI']);
                games.push( GameFactory.makeGame( local_time(event['S'] * 1000, 'exactly'), event['O1IMG'], event['O1'], event['O2IMG'], event['O2'], event['L'], event_type, parseFloat(event_content), event['CI']) );
                const elem = `<div id="step4-add-prev-expresess" style="display: none; width: 100%;"></div>`;
                $('#add_description').prepend(elem);
            }

            function add_events(event_item) {
                event_item = JSON.parse(event_item);
                events = event_item['Value']['E'];
                // НЕ МЕНЯТЬ ЭТОТ БЛОК V
                events_list = {1:'П1', 2:'Ничья', 3:'П2', 2824:'ТБ', 2825:'ТМ', 2826:'Ф1', 2827:'Ф2'};
                // END BLOCK
                function parse_events(event_type) {
                    event_type = event_type[0];
                    if (event_type['T'] == 2826 || event_type['T'] == 2827) {
                        if (event_type['T'] == 2826) {
                            return `Ф1 ${event_type['P']}`;
                        }
                        if (event_type['T'] == 2827) {
                            return `Ф2 ${event_type['P']}`;
                        }
                    }
                    if (event_type['T'] == 2824 || event_type['T'] == 2825) {
                        if (event_type['T'] == 2824) {
                            return `ТБ ${event_type['P']}`;
                        }
                        if (event_type['T'] == 2825) {
                            return `ТМ ${event_type['P']}`;
                        }
                    } else {
                        return `${events_list[event_type['T']]}`;
                    }
                }
                for (var i = 0; i < events.length; i++) {
                    if (events[i]['T'] in events_list) {
                        const elem =`<div class="col-sm-6 col-md-4 border border-red row align-items-center justify-content-center mt-1 events_remove next-step event_choose add_prognos_card_hover" style="height: 50px; cursor: pointer; padding-left: 0 !important; padding-right: 0 !important;">\
                                                <div class="col-9 d-flex align-items-center justify-content-center" style="height: 100%; border-right: 1px solid var(--gray-300); padding-left: 0 !important; padding-right: 0 !important;">\
                                                    <span id="type_event">${  parse_events([ events[i] ]) }</span>\
                                                </div>\
                                                <div class="col-3 d-flex align-items-center justify-content-center" style="padding-left: 0 !important; padding-right: 0 !important;">\
                                                    <span id="content_event">${ events[i]['C'] }</span>\
                                                </div>\
                                            </div>`;
                        $('#add_events').append(elem);
                    }
                }
                
            }
            var tips_for_range_slider = "Сумма ставки от " + min_stake_amount + "  до " + max_stake_amount;
            $("#js-range-slider-changing").attr("data-content", tips_for_range_slider);
            $("#max-length-change").val(max_description_length);

            // add-prognos-btn
            $('.comment-area-box').on("keyup", function(e) {
                //const elem = `<input type="submit" id="add-prognos-btn-id" class="btn btn-success default-btn next-step" style="float: right; margin-left: 3px;" value='Добавить прогноз' name='submit'>`;
                const elem = `<li id="add-prognos-btn-id-wrapper" style="float: right;"><button type="button" id="add-prognos-btn-id" class="btn btn-success default-btn next-step" style="float: right; margin-left: 3px; margin-right: 7px;" name='submit'>Добавить прогноз</button></li>`;
                if ( $('input[name=stake_amount]').val() != 0 
                        && parseInt($('input[name=stake_amount]').val()) >= min_stake_amount
                        && parseInt($('input[name=stake_amount]').val()) <= max_stake_amount
                        && $('textarea[name=description]').val() != ""
                        && parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length
                        && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length
                ) {
                    if ( !document.getElementById("add-prognos-btn-id") ) {
                        $("#buttons-step4").append(elem);
                    }
                } else {
                    $("#add-prognos-btn-id").remove();
                }
            });

            document.getElementById('text-area-description').addEventListener('keyup', function (e) {
                var characters = this.value.length;
                document.getElementById('current-lenght-textarea').textContent = characters;
                if (parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length) {
                    document.getElementById('current-lenght-textarea').style.color = '#10c469';
                }
                else {
                    document.getElementById('current-lenght-textarea').style.color = 'red';
                }
            });

            $(document).on('click', '#add-prognos-btn-id', function() {
                var btn = $(this);
                btn.prop('disabled', true);
                setTimeout(function(){
                    btn.prop('disabled', false);
                },5000);
                var formData = new FormData();
                formData.append('data', JSON.stringify(games));
                formData.append('stake_amount', document.querySelector("input[name=stake_amount]").value);
                formData.append('description', document.querySelector("textarea[name=description]").value);
                $.ajax("{{ url_for( 'main_page.post_prediction') }}", {
                    method: 'POST',
                    data: formData,
                    headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        const game_id = data['game_id'];
                        const status = data['status'];
                        const msg = data['message'];
                        const title = data['title'];
                        if (status == "success" && game_id) {
                            $.NotificationApp.send(title, msg, "top-center", "rgba(0,0,0,0.2)", "success");
                            const message = (games.length == 1) ? 'опубликовал прогноз' : 'опубликовал экспресс';
                            socket.emit('new_prediction', {'user_id': '{{ current_user.id }}', 'description': message, 'link': `/prediction_details?prediction=${game_id}`});
                            setTimeout(() => {window.location.replace(location.protocol + '//' + document.domain + ':' + location.port);}, 2450);
                        } else if (status == "error") {
                            $.NotificationApp.send(title, msg, "top-center", "rgba(0,0,0,0.2)", "error");
                        }
                    },
                    
                    error: function (dataofconfirm) {
                        $.NotificationApp.send("Ошибка!", "Повторите попытку", "top-center", "rgba(0,0,0,0.2)", "error");
                    }
                 });
             });
        });
        // также в js/pages есть range-slider
        var characters = parseInt(document.getElementById('current-lenght-textarea').textContent)
        if (window.matchMedia("(min-width: 767.98px)").matches) {
            $(".irs.irs--round").css({"width": "200px", "margin-left": "20px", "bottom": "13px"});
            var slider_wrap = `<div id="current-lenght-textarea-wrapper" style="display: flex; align-items: flex-end;">
                                    <span class="" id='current-lenght-textarea'>0&nbsp;</span> / ${max_description_length}
                                </div>`;
            $("#current-lenght-textarea-wrapper").remove();
            if ( !$("#current-lenght-textarea-wrapper").length ) {
                $("#desktop-range-slider-wrapper").append(slider_wrap);
            }
            $("#changing-while-resizing-whole-wrapper").removeClass("col-12");
            $("#changing-while-resizing-whole-wrapper").addClass("col-10");
            document.getElementById('current-lenght-textarea').textContent = characters;
            if (parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length) {
                document.getElementById('current-lenght-textarea').style.color = '#10c469';
            }
            else {
                document.getElementById('current-lenght-textarea').style.color = 'red';
            }
        } else {
            var slider_wrap = `<div id="current-lenght-textarea-wrapper" style="display: flex; align-items: flex-end;">
                                    <span class="" id='current-lenght-textarea'>0&nbsp;</span> / ${max_description_length}
                                </div>`;
            $(".irs.irs--round").css({"width": "200px", "margin-left": "0px", "bottom": "0px"});
            $("#current-lenght-textarea-wrapper").remove();
            $("#changing-while-resizing-whole-wrapper").addClass("col-12");
            $("#changing-while-resizing-whole-wrapper").removeClass("col-10");
            if ( !$("#current-lenght-textarea-wrapper").length ) {
                $("#phone-range-slider-wrapper").append(slider_wrap);
            }
            document.getElementById('current-lenght-textarea').textContent = characters;
            if (parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length) {
                document.getElementById('current-lenght-textarea').style.color = '#10c469';
            }
            else {
                document.getElementById('current-lenght-textarea').style.color = 'red';
            }
        }
        window.onresize = function(event) {
            var characters = parseInt(document.getElementById('current-lenght-textarea').textContent)
            if (window.matchMedia("(min-width: 767.98px)").matches) {
                $(".irs.irs--round").css({"width": "200px", "margin-left": "20px", "bottom": "13px"});
                var slider_wrap = `<div id="current-lenght-textarea-wrapper" style="display: flex; align-items: flex-end;">
                                        <span class="" id='current-lenght-textarea'>0&nbsp;</span> / ${max_description_length}
                                    </div>`;
                $("#current-lenght-textarea-wrapper").remove();
                if ( !$("#current-lenght-textarea-wrapper").length ) {
                    $("#desktop-range-slider-wrapper").append(slider_wrap);
                }
                $("#changing-while-resizing-whole-wrapper").removeClass("col-12");
                $("#changing-while-resizing-whole-wrapper").addClass("col-10");
                document.getElementById('current-lenght-textarea').textContent = characters;
                if (parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length) {
                document.getElementById('current-lenght-textarea').style.color = '#10c469';
                }
                else {
                    document.getElementById('current-lenght-textarea').style.color = 'red';
                }
            } else {
                var slider_wrap = `<div id="current-lenght-textarea-wrapper" style="display: flex; align-items: flex-end;">
                                        <span class="" id='current-lenght-textarea'>0&nbsp;</span> / ${max_description_length}
                                    </div>`;
                $(".irs.irs--round").css({"width": "200px", "margin-left": "0px", "bottom": "0px"});
                $("#current-lenght-textarea-wrapper").remove();
                $("#changing-while-resizing-whole-wrapper").addClass("col-12");
                $("#changing-while-resizing-whole-wrapper").removeClass("col-10");
                if ( !$("#current-lenght-textarea-wrapper").length ) {
                    $("#phone-range-slider-wrapper").append(slider_wrap);
                }
                document.getElementById('current-lenght-textarea').textContent = characters;
                if (parseInt(document.getElementById('current-lenght-textarea').textContent) >= min_description_length && parseInt(document.getElementById('current-lenght-textarea').textContent) <= max_description_length ) {
                document.getElementById('current-lenght-textarea').style.color = '#10c469';
                }
                else {
                    document.getElementById('current-lenght-textarea').style.color = 'red';
                }
            }
        };
    </script>
{% endblock %}
