{% extends "starter-page.html" %}

{% block page_title %}FAQ{% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="/faq" >Поддержка</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Поддержка</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 


    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h3 class="">Вопрос - Ответ</h3>
                <p class="text-muted mt-3"> Если у вас возникли проблемы по использованию сайта, то сообщите нам об этом или посмотрите ниже "популярные вопросы". </p>

                <!-- <button type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline mr-1"></i>Написать нам email</button> -->
                <!-- <button type="button" class="btn btn-info btn-sm mt-2 ml-1"><i class="mdi mdi-twitter mr-1"></i>Твитнуть</button> -->
            </div>
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row pt-5">
        <div class="col-lg-5 offset-lg-1">
            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question" data-wow-delay=".1s">Я поставил галочки напротив принятия соглашений, но ничего не читал.</h4>
                <p class="faq-answer mb-4">Прежде, чем с чем-то соглашаться, необходимо прочитать предмет соглашений. Рекомендуем ознакомиться с ними на странице <a href="{{ url_for('main_page.user_agreements') }}">Соглашения</a>.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">Как правильно оформить прогноз?</h4>
                <p class="faq-answer mb-4">С правилами оформления прогнозов можно ознакомиться в соответствующей вкладке на странице <a href="{{ url_for('main_page.user_agreements') }}">Соглашения</a>.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">У меня есть вопросы/предложения. Как с Вами связаться?</h4>
                <p class="faq-answer mb-4">Связаться с нами можно, написав на почтовый адрес <a href="mailto:support@cybertips.net">support@cybertips.net</a>.</p>
            </div>

        </div>
        <!--/col-md-5 -->

        <div class="col-lg-5">

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">Откуда вы берете данные?</h4>
                <p class="faq-answer mb-4">На данный момент данные берутся из линии БК 1xBet.</p>
            </div>


            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">А Вы можете добавить на сайт то, что я хочу?</h4>
                <p class="faq-answer mb-4">Мы рады поддержке пользователей, если у Вас есть идеи, напишите на почтовый адрес <a href="mailto:support@cybertips.net">support@cybertips.net</a>.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question" data-wow-delay=".1s">Как сделать ставку на сайте?</h4>
                <p class="faq-answer mb-4">Увы, такой функционал не предусмотрен. Чтобы совершить ставку, перейдите на сайт своего букмекера.</p>
            </div>

        </div>
        <!--/col-md-5-->
    </div>
    <!-- end row -->

{% endblock %}