{% extends "starter-page.html" %}

{% block page_title %}Cybertips{% endblock %}
{% block header %}
    <link href="{{ url_for('main_page.static', filename='css/jquery.tag-editor.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="/" >Лента прогнозов</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Поиск прогнозов на актуальные матчи</h4>
            </div>
        </div>
    </div>     
    <!-- end page title -->
    <div class="col-xl-10 col-lg-10 d-flex search_filter_container">
        <textarea class="col-xl-6 col-lg-6" id="search_games_area" style="height: 35px; padding: .3em .5em; color: var(--body-color); background-color: var(--body-bg);border: 1px solid #ddd; font-size: .9em; box-sizing: border-box; margin: 0 0 20px; position: absolute !important; left: -99999px;"></textarea>
        <div class="col-xl-6 col-lg-6 dropdown click-out-show" id="search_dropdown" style="padding: 0; border-left: 4px solid var(--body-bg)">
            <button class="btn dropdown-toggle keep-open" type="button" id="dropdownLeagues" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; height: 100%; line-height: 20px; color: var(--body-color); background-color: var(--gray-200); border: none; border-radius: 0px 7px 7px 0px;">
                Турниры
            </button>
            <ul class="dropdown-menu dropdown-menu-animated dp-menu-show" aria-labelledby="dropdownLeagues" style="width: 100%; line-height: 20px; border: 3px solid var(--gray-300); background-color: var(--gray-200);">
                {% for league in dota_leagues %}
                    {% if league in choosen_leagues_list%}
                    <li class="dropdown-item dp-item-show" onclick="search_leagues(this)" style="cursor: pointer; width: 100%; text-align: center; margin-top: 5px; white-space: inherit;">
                        <a href="#" class="search_leagues"  style="text-decoration: none; color: rgb(83, 109, 230);">{{ league }}</a>
                    </li>
                    {% else %}
                    <li class="dropdown-item dp-item-show" onclick="search_leagues(this)" style="cursor: pointer; width: 100%; text-align: center; margin-top: 5px; white-space: inherit;">
                        <a href="#" class="search_leagues" style="text-decoration: none; color: var(--body-color);">{{ league }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-xl-10 col-lg-10 mb-3 d-flex justify-content-center" style="left: 8px;">
        <form method="POST" action="{{ url_for('main_page.filtering_index') }}" class="d-flex justify-content-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% if choosen_team1 %}
                <input id="choosen_team1" type="hidden" name="team1" value="{{ choosen_team1 }}">
            {% else %}
                <input id="choosen_team1" type="hidden" name="team1" value="">
            {% endif %}

            {% if choosen_team2 %}
                <input id="choosen_team2" type="hidden" name="team2" value="{{ choosen_team2 }}">
            {% else %}
                <input id="choosen_team2" type="hidden" name="team2" value="">
            {% endif %}

            {% if choosen_leagues %}
                <input id="choosen_leagues" type="hidden" name="choosen_leagues" value="{{ choosen_leagues }}">
            {% else %}
                <input id="choosen_leagues" type="hidden" name="choosen_leagues" value="">
            {% endif %}

            <button id="choosen_search_btn" class="btn" style="display: none; margin-right: 4px; min-width: 150px; background-color: var(--gray-200); color: var(--body-color);">Найти</button>
            <button onclick="return_to_default_filters()" id="choosen_return_btn" class="btn" style="min-width: 150px; background-color: var(--gray-200); color: var(--body-color);">Сбросить фильтры</button>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-10" style="margin-top: -30px;">
            <div class="page-title-box">
                {% if type_of_predictions == 'all' %}
                    <div class="d-flex title-сhoice-block__wrapper">
                        <h4 class="page-title title-сhoice-block__title">Лента всех прогнозов</h4>
                        <a href="{{ url_for('main_page.index', type_pred='actual') }}"><p class="text-muted font-15 title-сhoice-block__text"><strong>Показать актуальные прогнозы</strong></p></a></a>
                    </div>
                    
                {% elif type_of_predictions == 'actual' or not type_of_predictions %}
                    <div class="d-flex title-сhoice-block__wrapper">
                        <h4 class="page-title title-сhoice-block__title">Лента актуальных прогнозов</h4>
                        <a href="{{ url_for('main_page.index', type_pred='all') }}"><p class="text-muted font-15 title-сhoice-block__text"><strong>Показать все прогнозы</strong></p></a></a>
                    </div>
                {% elif type_of_predictions == "search" %}
                    <div class="d-flex title-сhoice-block__wrapper">
                        <h4 class="page-title title-сhoice-block__title">Лента выбранных актуальных прогнозов</h4>
                        <a href="{{ url_for('main_page.index', type_pred='all') }}"><p class="text-muted font-15 title-сhoice-block__text"><strong>Показать все прогнозы</strong></p></a></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if predictions.items %} 
        {% for prediction in predictions.items %}
            {% if prediction.type_id == 0 or prediction.type_id == 2 %}
                <div class="row">
                    <div class="col-xl-10 col-lg-10">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">
                                {% if current_user.get_id() == prediction.user_id %}
                                <!-- <div class="dropdown card-widgets">
                                    <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                        <i class='uil uil-ellipsis-h'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0);" class="dropdown-item text-danger">
                                            <i class='uil uil-trash-alt mr-1'></i>Удалить
                                        </a>
                                    </div>
                                </div> -->
                                {% endif %}
                                
                                <div class="clearfix"></div>

                                <h3 class="mt-3 mb-2"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">{{ prediction.liga }}</a></h3>

                                <div class="row justify-content-center local-date-exactly">{{ prediction.game_start_time }}</div>
                                <div class="row justify-content-between" style="margin-bottom: 35px;">
                                    <div class="col-auto">
                                        <!-- assignee -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                        <div class="media">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction.user_details.user_img ) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    <a href="{{ url_for( 'main_page.account', user=prediction.user_details.id ) }}"> {{ prediction.user_details.nickname }} </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- end assignee -->
                                    </div> <!-- end col -->

                                    <div class="row col-lg-auto col-md-auto col-sm-auto col-12 teams-vs-container-unique">
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + prediction.team1_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team mt-1 font-15">{{ prediction.team1 }}</span>
                                        </div>
                                        <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                            <span class="teams-versus-text-unique">VS</span>
                                            <span class="prognos-score-unique"></span>
                                        </span>
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + prediction.team2_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team mt-1 font-15">{{ prediction.team2 }}</span>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <!-- start due date -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                        <div class="media">
                                            <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14 local-date">{{ prediction.date_of_prediction }}</h5>
                                            </div>
                                        </div>
                                        <!-- end due date -->
                                    </div> <!-- end col -->
                                </div> <!-- end row -->

                                <div class="row">
                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Прогноз</p>
                                        <div class="media">
                                            <i class='uil uil-chart-line font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.type_of_prediction }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                        <div class="media">
                                            <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.coefficient }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                        <div class="media">
                                            <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.stake_amount }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="mt-3">Обзор</h5>

                                <p class="mb-4">
                                    {{ prediction.description }}
                                </p>

                                <div class="row">
                                    <div class="col-auto">
                                        
                                        <div class="media">
                                            <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.views | length }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                        {% if current_user.is_authenticated %}
                                            {% if prediction.id in liked %}
                                            <div class="media">
                                                <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">
                                            <div class="media">
                                                <i class='uil  uil-comment-alt font-18 text-success mr-1'></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" style="color: var(--body-color)">
                                                        {{ prediction.comments | length }}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

            {% elif prediction.type_id == 1 %}
                <div class="row">
                    <div class="col-xl-10 col-lg-10">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">
                                {% if current_user.get_id() == prediction.user_id %}
                                <!-- <div class="dropdown card-widgets">
                                    <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                        <i class='uil uil-ellipsis-h'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0);" class="dropdown-item text-danger">
                                            <i class='uil uil-trash-alt mr-1'></i>Удалить
                                        </a>
                                    </div>
                                </div> -->
                                {% endif %}
                                <div class="clearfix"></div>

                                <h3 class="mt-3"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">Экспресс #{{ prediction.id }} от {{ prediction.user_details.nickname }}</a></h3>

                                <div class="row justify-content-between" style="margin-bottom: 35px;">
                                    <div class="col-auto">
                                        <!-- assignee -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                        <div class="media">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction.user_details.user_img) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    <a href="{{ url_for( 'main_page.account', user=prediction.user_details.id ) }}"> {{ prediction.user_details.nickname }} </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- end assignee -->
                                    </div> <!-- end col -->

                                    <div class="col-auto">
                                        <!-- start due date -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                        <div class="media">
                                            <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14 local-date">{{ prediction.date_of_prediction }}</h5>
                                            </div>
                                        </div>
                                        <!-- end due date -->
                                    </div> <!-- end col -->
                                </div> <!-- end row -->

                                <div class="row">
                                    
                                    {% for express in prediction.express %}
                                    <div class="row col-12 teams-vs-container-unique justify-content-center align-items-center mt-2" style="background-color: var(--body-bg); padding: 15px 0; margin: 0;">
                                        <div class="col-12 mb-1" style="text-align: center;"><strong>{{ express.liga }}</strong></div>
                                        <hr style="width: 100%; margin: 0; padding: 0; margin-bottom: 5px;">
                                        <div class="d-flex align-items-center justify-content-center express_in_expresses_wrapper">
                                            <div class="mr-5 local-date-exactly express_in_expresses_date">{{ express.game_start_time }}</div>

                                            <div class="d-flex flex-direction-row express_in_expresses_teams">
                                                <div class="media col-auto teams-images-wrapper-unique">
                                                    <img src="{{ logo_path + express.team1_img }}" alt="command_ava" class="teams-images-unique">
                                                    <span class="name_team font-15">{{ express.team1 }}</span>
                                                </div>
                                                <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                                    <span class="teams-versus-text-unique">VS</span>
                                                    <span class="prognos-score-unique"></span>
                                                </span>
                                                <div class="media col-auto teams-images-wrapper-unique">
                                                    <img src="{{ logo_path + express.team2_img }}" alt="command_ava" class="teams-images-unique">
                                                    <span class="name_team font-15">{{ express.team2 }}</span>
                                                </div>
                                            </div>
                                            
                                            <div class="ml-5 express_in_expresses_coef">{{ express.type_of_prediction }}: {{ express.coefficient }}</div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                        <div class="media">
                                            <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.coefficient }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                        <div class="media">
                                            <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.stake_amount }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="mt-3">Обзор</h5>

                                <p class="mb-4">
                                    {{ prediction.description }}
                                </p>

                                <div class="row">
                                    <div class="col-auto">
                                        
                                        <div class="media">
                                            <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.views | length }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                        {% if current_user.is_authenticated %}
                                            {% if prediction.id in liked %}
                                            <div class="media">
                                                <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">
                                            <div class="media">
                                                <i class='uil  uil-comment-alt font-18 text-success mr-1'></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" style="color: var(--body-color)">
                                                        {{ prediction.comments | length }}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    <nav aria-label="Page navigation" class="mb-3 col-lg-10">
        <ul class="pagination pagination-rounded mb-0 justify-content-center">
            {% if predictions.pages > 2 and predictions.page != 1 and predictions.page != 2 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for( 'main_page.index', page=1, type_pred=type_of_predictions ) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% if predictions.pages > 1 and predictions.page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page - 1, type_pred=type_of_predictions ) }}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% if predictions.page-2 >= 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page-2, type_pred=type_of_predictions ) }}">{{ predictions.page-2 }}</a></li>
            {% endif %}
            {% if predictions.page-1 >= 1 %}
                <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page-1, type_pred=type_of_predictions ) }}">{{ predictions.page-1 }}</a></li>
            {% endif %}
            {% if predictions.page %}
                <li class="page-item active"><a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page, type_pred=type_of_predictions ) }}">{{ predictions.page }}</a></li>
            {% endif %}
            {% if predictions.page+1 <= predictions.pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page+1, type_pred=type_of_predictions ) }}">{{ predictions.page+1 }}</a></li>
            {% endif %}
            {% if predictions.page+2 <= predictions.pages %}
                <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page+2, type_pred=type_of_predictions ) }}">{{ predictions.page+2 }}</a></li>
            {% endif %}
            
            {% if predictions.pages > 1 and predictions.pages != predictions.page %}
            <li class="page-item"> 
                <a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.page+1, type_pred=type_of_predictions ) }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
            {% if predictions.pages > 2 and predictions.pages != predictions.page %}
            <li class="page-item"> 
                <a class="page-link" href="{{ url_for( 'main_page.index', page=predictions.pages, type_pred=type_of_predictions ) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
        <h2 style="text-align: center; margin-top: 60px;">Прогнозов по текущему фильтру не было найдено.</h2>
    {% endif %} <!-- Конец проверки существуют ли прогнозы-->
{% endblock %}

{% block scripts %}
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('main_page.static', filename='js/pages/search_games/jquery.caret.min.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/pages/search_games/jquery.tag-editor.js') }}"></script>
    <script>

        var games_tags = [];
        var choosen_leagues = [];

        function return_to_default_filters() {
            $("#choosen_team1").val("");
            $("#choosen_team2").val("");
            $("#choosen_leagues").val("");
        }

        function check_values_add_btn() {
            if ($("#choosen_team1").val().length > 0 || $("#choosen_team2").val().length > 0 || $("#choosen_leagues").val().length > 0 ) {
                $("#choosen_search_btn").css('display', 'block');
            }
            else {
                $("#choosen_search_btn").css('display', 'none');
            }
        }

        var dota_teams = JSON.parse({{ dota_teams | tojson }})
        $('#search_games_area').tagEditor({
            maxTags: 2,
            autocomplete: {
                delay: 0, // show suggestions immediately
                position: { collision: 'flip' }, // automatic menu position up/down
                source: dota_teams,
            },
            onChange: function(field, editor, tags) {
                $('.tag-editor li:gt(2)').remove();
                games_tags = tags;
                // if (games_tags.length == 1) {

                //     $("#choosen_team1").val(games_tags[0]);
                //     $("#choosen_team2").val("");
                // }
                // else if (games_tags.length > 1) {
                //     $("#choosen_team1").val(games_tags[0]);
                //     $("#choosen_team2").val(games_tags[1]);
                // }
                // else {
                //     $("#choosen_team1").val("");
                //     $("#choosen_team2").val("");
                // }
                check_values_add_btn();
            },
            beforeTagDelete(field, editor, tags, val) {
                
                if ($("#choosen_team1").val() == val ) {
                    $("#choosen_team1").val("");
                } else if ( $("#choosen_team2").val() == val) {
                    $("#choosen_team2").val("");
                }
            },
            beforeTagSave(field, editor, tags, tag, val) {
                if (tags.length == 0) {
                    $("#choosen_team1").val(val);
                }
                else if (tags.length == 1) {
                    if ( $("#choosen_team1").val() == "" && $("#choosen_team2").val() != "" && val != $("#choosen_team2").val()) {
                        $("#choosen_team1").val(val);
                    } else if ( $("#choosen_team1").val() != "" && $("#choosen_team2").val() == "" && val != $("#choosen_team1").val()) {
                        $("#choosen_team2").val(val);
                    }
                }
            },
            forceLowercase: false,
            placeholder: 'Введите названия комманд'
        });
        $('.ui-sortable').addClass('col-xl-6 col-lg-6');

        function search_leagues(element) {
            var curr_element = element.firstElementChild;
            var element_name = "Dota 2. " + curr_element.textContent;
            if (curr_element.style.color != "rgb(83, 109, 230)") {
                curr_element.style.color = "#536de6";
                choosen_leagues.push(element_name);
            } else {
                choosen_leagues.splice(choosen_leagues.indexOf(element_name), 1);
                curr_element.style.color = "var(--body-color)";
            }
            if (choosen_leagues != "None") {
                $("#choosen_leagues").val(choosen_leagues);
            }
            check_values_add_btn();
        }

        $(document).ready(function() {
            if ("{{ choosen_team1 }}".length > 0 || "{{ choosen_team1 }}".length > 0  && "{{ choosen_team1 }}" != "None" && "{{ choosen_team2 }}" != "None") {
                $("li.placeholder.ui-sortable-handle").remove();
            }

            if ("{{ choosen_team1 }}".length > 0 && "{{ choosen_team1 }}" != "None") {
                const team1_elem = `<li> \
                                <div class="tag-editor-spacer">&nbsp;,</div> \
                                <div class="tag-editor-tag">{{ choosen_team1 }}</div> \
                                <div class="tag-editor-delete"> \
                                    <i></i>
                                </div> \
                            </li>`;
                $(".tag-editor").append(team1_elem);
            }
            if ("{{ choosen_team2}}".length > 0 && "{{ choosen_team2 }}" != "None") {
                const team2_elem = `<li> \
                                <div class="tag-editor-spacer">&nbsp;,</div> \
                                <div class="tag-editor-tag">{{ choosen_team2 }}</div> \
                                <div class="tag-editor-delete"> \
                                    <i></i>
                                </div> \
                            </li>`;
                $(".tag-editor").append(team2_elem);
            }
        });

        jQuery('.dropdown-toggle.keep-open').on('click', function (e) {
            $(this).next().toggle();            
        });

        $(document).on("click", function(event){
            var $trigger = $(".dropdown.click-out-show");
            // if ( $(".dp-menu-show").css("display") == "none" ) {
            // } else {
            // }
            if($trigger !== event.target && !$trigger.has(event.target).length && $(".dp-menu-show").css("display") != "none" ){
                $(".dropdown-menu.dp-menu-show").slideUp("fast");
            }            
        });

        $(document).ready( function() {
            $('.teams-images-unique').each(function() {
                if ( !this.complete
                ||   typeof this.naturalWidth == "undefined"
                ||   this.naturalWidth == 0                  ) {
                // image was broken, replace with your new image
                this.src = 'https://www.precisionpass.co.uk/wp-content/uploads/2018/03/default-team-logo.png';
                }
            });
        })
        
        var go_top_btn = $('#go_top_btn');

        $(window).scroll(function() {
            if ($(window).scrollTop() > 800 && $(window).scrollTop() < $(document).height() - $(window).height() - 450 ) {
                go_top_btn.addClass('show');
            } else {
                go_top_btn.removeClass('show');
            }
        });

        go_top_btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop:0}, '300');
        });


    </script>
   

    <!-- <script>$.NotificationApp.send("Title","Your awesome message text","top-right","#e0a500","warning")</script> -->
    
{% endblock %}