<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}Разработка...{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{ url_for('main_page.static', filename='images/logo.svg') }}">

        <!-- App css -->
        <link href="{{ url_for('main_page.static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('main_page.static', filename='css/app-modern.css') }}" rel="stylesheet" type="text/css" id="light-style" />
        <link href="{{ url_for('main_page.static', filename='css/app-modern-dark.css') }}" rel="stylesheet" type="text/css" id="dark-style" />

    </head>

    <body class="loading" data-layout-config='{"darkMode":false}'>
        <div class="mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">

                        <div class="text-center">
                            <img src="{{ url_for('main_page.static', filename='images/maintenance.svg') }}" height="140" alt="File not found Image">
                            <h3 class="mt-4">Сайт находится в разработке</h3>
                            <p class="text-muted">Мы делаем сайт ещё удобнее и лучше!</p>

                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <div class="text-center mt-3 pl-1 pr-1">
                                        <i class="dripicons-jewel bg-primary maintenance-icon text-white mb-2"></i>
                                        <h5 class="text-uppercase">Почему сайт недоступен?</h5>
                                        <p class="text-muted">Существует ряд причин, по которым нам пришлось отключить доступ к этой странице.</p>
                                    </div>
                                </div> <!-- end col-->
                                <div class="col-md-4">
                                    <div class="text-center mt-3 pl-1 pr-1">
                                        <i class="dripicons-clock bg-primary maintenance-icon text-white mb-2"></i>
                                        <h5 class="text-uppercase">Когда он снова станет доступен?</h5>
                                        <p class="text-muted">Как только мы закончим разработку нововведений, добавим в продакшн</p>
                                    </div>
                                </div> <!-- end col-->
                                <div class="col-md-4">
                                    <div class="text-center mt-3 pl-1 pr-1">
                                        <i class="dripicons-question bg-primary maintenance-icon text-white mb-2"></i>
                                        <h5 class="text-uppercase">Вам нужна поддержка?</h5>
                                        <p class="text-muted">Если у вас есть советы или проблемы с работой на сайте, то напишите нам на <a href="mailto:support@cybertips.net" class="text-muted font-weight-bold">support@cybertips.net</a></p>
                                    </div>
                                </div> <!-- end col-->
                            </div> <!-- end row-->
                        </div> <!-- end /.text-center-->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>

            <div class="row justify-content-center">
                <a href="{{ url_for('main_page.index') }}">
                    <button type="button" class="btn" style="background-color: #536de6; color: white; margin-top: 70px;"><i class="mdi mdi-rocket mr-1"></i><span>На главную страницу</span> </button>
                </a>
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <footer class="footer footer-alt">
            2020 © Cybertips.ru
        </footer>

        <!-- bundle -->
        <script src="{{ url_for('main_page.static', filename='js/vendor.min.js') }}"></script>
        <script src="{{ url_for('main_page.static', filename='js/app.min.js') }}"></script>
    
    </body>
</html>