{% extends "starter-page.html" %}

{% block page_title %}Cybertips - подписки{% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item"><a href="/paid-prognos-non-access" style="color: #6c757d;">Платные прогнозы</a></li>
                        <li class="breadcrumb-item"><a href="/paid-prognos-non-access">Ценновая политика</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Платные прогнозы</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 


    <div class="row justify-content-center">
        <div class="col-xl-10">

            <!-- Pricing Title-->
            <div class="text-center">
                <h3 class="mb-2">Ценновая политика</h3>
                <p class="text-muted w-50 m-auto">
                    Получите доступ к проверенным прогнозам.
                </p>
            </div>

            <!-- Plans -->
            <div class="row mt-sm-5 mt-3 mb-3">
                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">1-месячная подписка</p>
                            <i class="card-pricing-icon dripicons-user text-primary"></i>
                            <h2 class="card-pricing-price">700VRUB<span>/ Месяц</span></h2>
                            <ul class="card-pricing-features">
                                <li>Доступ к прогнозам на протяжении 1 месяца</li>
                                <li>Лучшие исходы</li>
                                <li>Проверенные прогнозы</li>
                                <li>Уведомления по почте</li>
                                <li>Поддержка 24x7</li>
                            </ul>
                            <button class="btn btn-primary mt-4 mb-2 btn-rounded">Выбрать</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing card-pricing-recommended">
                        <div class="card-body text-center">
                            <div class="card-pricing-plan-tag">Рекомендуется</div>
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">6-месячная подписка</p>
                            <i class="card-pricing-icon dripicons-user text-primary"></i>
                            <h2 class="card-pricing-price">600VRUB<span>/ Месяц</span></h2>
                            <ul class="card-pricing-features">
                                <li>Доступ к платным прогнозам на протяжении 6 месяцев</li>
                                <li>Лучшие исходы</li>
                                <li>Проверенные прогнозы</li>
                                <li>Уведомления по почте</li>
                                <li>Поддержка 24x7</li>
                            </ul>
                            <button class="btn btn-primary mt-4 mb-2 btn-rounded">Выбрать</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">Годовая подписка</p>
                            <i class="card-pricing-icon dripicons-user text-primary"></i>
                            <h2 class="card-pricing-price">500VRUB<span>/ Месяц</span></h2>
                            <ul class="card-pricing-features">
                                <li>Доступ к платным прогнозам на протяжении 12 месяцев</li>
                                <li>Лучшие исходы</li>
                                <li>Проверенные прогнозы</li>
                                <li>Уведомления по почте</li>
                                <li>Поддержка 24x7</li>
                            </ul>
                            <button class="btn btn-primary mt-4 mb-2 btn-rounded">Выбрать</button>
                        </div>
                    </div> <!-- end Pricing_card -->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- end col-->
    </div>
    <!-- end row -->
{% endblock %}