{% extends "starter-page.html" %}

{% block page_title %}Прогноз {{ prediction['user_details']['nickname'] }}{% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Прогнозы</a></li>
                        <li class="breadcrumb-item active"><a href="#">Прогноз {{ prediction['user_details']['nickname'] }}</li></a>
                    </ol>
                </div>
                <h4 class="page-title">Прогноз {{ prediction['user_details']['nickname'] }}</h4>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    {% if prediction['type_id'] == 0 %}
        <div class="row">
            <div class="col-xl-10 col-lg-10">
                <!-- project card -->
                <div class="card d-block">
                    <div class="card-body">
                        {% if current_user.get_id() == prediction['user_id'] %}
                        <!-- <div class="dropdown card-widgets">
                            <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                <i class='uil uil-ellipsis-h'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0);" class="dropdown-item text-danger">
                                    <i class='uil uil-trash-alt mr-1'></i>Удалить
                                </a>
                            </div>
                        </div> -->
                        {% endif %}
                        
                        <div class="clearfix"></div>

                        <h3 class="mt-3"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}">{{ prediction['liga'] }}</a></h3>

                        <div class="row justify-content-between" style="margin-bottom: 35px;">
                            <div class="col-auto">
                                <!-- assignee -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                <div class="media">
                                    <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction['user_details']['user_img']) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            <a href="{{ url_for( 'main_page.account', user=prediction['user_details']['id'] ) }}"> {{ prediction['user_details']['nickname'] }} </a>
                                        </h5>
                                    </div>
                                </div>
                                <!-- end assignee -->
                            </div> <!-- end col -->

                            <div class="row col-lg-auto col-md-auto col-sm-auto col-12 teams-vs-container-unique">
                                <div class="media col-auto teams-images-wrapper-unique">
                                    <img src="{{ logo_path + prediction['team1_img'] }}" alt="command_ava" class="teams-images-unique">
                                    <span class="name_team mt-1 font-15">{{prediction['team1']}}</span>
                                </div>
                                <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                    <span class="teams-versus-text-unique">VS</span>
                                    <span class="prognos-score-unique"></span>
                                </span>
                                <div class="media col-auto teams-images-wrapper-unique">
                                    <img src="{{ logo_path + prediction['team2_img'] }}" alt="command_ava" class="teams-images-unique">
                                    <span class="name_team mt-1 font-15">{{prediction['team2']}}</span>
                                </div>
                            </div>

                            <div class="col-auto">
                                <!-- start due date -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                <div class="media">
                                    <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14 local-date">{{ prediction["date_of_prediction"] }}</h5>
                                    </div>
                                </div>
                                <!-- end due date -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Прогноз</p>
                                <div class="media">
                                    <i class='uil uil-chart-line font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ prediction['type_of_prediction'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                <div class="media">
                                    <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ prediction['coefficient'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                <div class="media">
                                    <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ prediction['stake_amount'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h5 class="mt-3">Обзор</h5>

                        <p class="mb-4">
                            {{ prediction['description'] }}
                        </p>

                        <div class="row">
                            <div class="col-auto">
                                
                                <div class="media">
                                    <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {% if is_view_add %}
                                            {{ prediction.views | length + 1 }}
                                            {% else %}
                                            {{ prediction.views | length }}
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                {% if current_user.is_authenticated %}
                                        {% if prediction.id in liked %}
                                        <div class="media">
                                            <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="media">
                                            <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="media">
                                            <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% elif prediction['type_id'] == 1 %}
        <div class="row">
            <div class="col-xl-10 col-lg-10">
                <!-- project card -->
                <div class="card d-block">
                    <div class="card-body">
                        {% if current_user.get_id() == prediction['user_id'] %}
                        <!-- <div class="dropdown card-widgets">
                            <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                <i class='uil uil-ellipsis-h'></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0);" class="dropdown-item text-danger">
                                    <i class='uil uil-trash-alt mr-1'></i>Удалить
                                </a>
                            </div>
                        </div> -->
                        {% endif %}
                        <div class="clearfix"></div>

                        <h3 class="mt-3"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction['id'] ) }}">Экспресс #{{ prediction['id'] }} от {{ prediction['user_details']['nickname'] }}</a></h3>

                        <div class="row justify-content-between" style="margin-bottom: 35px;">
                            <div class="col-auto">
                                <!-- assignee -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                <div class="media">
                                    <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction['user_details']['user_img']) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            <a href="{{ url_for( 'main_page.account', user=prediction['user_details']['id'] ) }}"> {{ prediction['user_details']['nickname'] }} </a>
                                        </h5>
                                    </div>
                                </div>
                                <!-- end assignee -->
                            </div> <!-- end col -->

                            <div class="col-auto">
                                <!-- start due date -->
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                <div class="media">
                                    <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14 local-date">{{ prediction["date_of_prediction"] }}</h5>
                                    </div>
                                </div>
                                <!-- end due date -->
                            </div> <!-- end col -->
                        </div> <!-- end row -->

                        <div class="row">
                            
                            {% for express in prediction['express'] %}
                            <div class="row col-12 teams-vs-container-unique justify-content-center align-items-center mt-2" style="background-color: var(--body-bg); padding: 15px 0; margin: 0;">
                                <div class="col-12 mb-1" style="text-align: center;"><strong>{{ express['liga'] }}</strong></div>
                                <hr style="width: 100%; margin: 0; padding: 0; margin-bottom: 5px;">
                                <div class="d-flex align-items-center justify-content-center express_in_expresses_wrapper">
                                    <div class="mr-5 local-date-exactly express_in_expresses_date">{{ express['game_start_time'] }}</div>

                                    <div class="d-flex flex-direction-row express_in_expresses_teams">
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + express.team1_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team font-15">{{ express['team1'] }}</span>
                                        </div>
                                        <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                            <span class="teams-versus-text-unique">VS</span>
                                            <span class="prognos-score-unique"></span>
                                        </span>
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + express.team2_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team font-15">{{ express['team2'] }}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="ml-5 express_in_expresses_coef">{{ express.type_of_prediction }}: {{ express.coefficient }}</div>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                <div class="media">
                                    <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ prediction['coefficient'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                <div class="media">
                                    <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {{ prediction['stake_amount'] }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h5 class="mt-3">Обзор</h5>

                        <p class="mb-4">
                            {{ prediction['description'] }}
                        </p>

                        <div class="row">
                            <div class="col-auto">
                                
                                <div class="media">
                                    <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                    <div class="media-body">
                                        <h5 class="mt-1 font-14">
                                            {% if is_view_add %}
                                            {{ prediction.views | length + 1 }}
                                            {% else %}
                                            {{ prediction.views | length }}
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                {% if current_user.is_authenticated %}
                                        {% if prediction.id in liked %}
                                        <div class="media">
                                            <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="media">
                                            <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="media">
                                            <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14" id="number_likes">
                                                    {{ prediction.likes | length}}
                                                </h5>
                                            </div>
                                        </div>
                                    {% endif %}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}



    <div class="row">
        <div class="col-xl-10 col-lg-10">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-1">Комментарии ({{num_of_comments}})</h4>
                </div>
                <div class="card-body" style="padding-top: 0px !important">
                    
                   {{ date }}
                    {% for comment in sorted_comments %}
                    <div class="media mt-3" style="">
                        <img class="mr-2 rounded-circle" src="{{ url_for('main_page.static', filename='images/users_avatar/' + comment['user_details']['user_img']) }}"
                            alt="Generic placeholder image" height="32">
                        <div class="media-body media-body-on-phone" style="width: 100%; max-width: 90%;">
                            <h5 class="mt-0">{{ comment['user_details']['nickname'] }}<small title="{{  comment['date']  }}" class="text-muted float-right local-date">{{ comment['date'] }}</small></h5>
                            {{ comment['description'] }}

                            <br/>
                            {% if status %}
                            <a href="javascript: void(0);" OnClick="add('{{comment['user_details']['nickname'] }}', '{{ comment['id'] }}' )" class="text-muted font-13 d-inline-block mt-2"><i
                                class="mdi mdi-reply"></i> Ответить</a>
                            {% endif %}
                            
                            {% for reply_comment in comment['reply_comments'] %}
                            <div class="media mt-3" style="">
                                <a class="pr-2" href="#">
                                    <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + reply_comment['user_details']['user_img']) }}" class="rounded-circle"
                                        alt="Generic placeholder image" height="32">
                                </a>
                                <div class="media-body media-body-reply-on-phone" style="max-width: 93%;">
                                    <h5 class="mt-0">{{ reply_comment['user_details']['nickname'] }}<small class="text-muted float-right local-date">{{ reply_comment['date'] }}</small></h5>
                                    {{ reply_comment['description'] }}

                                    <br/>
                                    {% if status %}
                                    <a href="javascript: void(0);" OnClick="add('{{reply_comment['user_details']['nickname'] }}', '{{ reply_comment['id'] }}' )" class="text-muted font-13 d-inline-block mt-2">
                                        <i class="mdi mdi-reply"></i> Ответить</a>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    {% endfor %}


                    
                    {% if status %}
                    <div class=" mt-4">
                        <form  class="comment-area-box" method="POST" action= "{{ url_for( 'main_page.send_comment', prediction_id=prediction['id'] ) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            
                            <div class="answer-card-close" id="answer-card-close">
                                <span id="answer-span-close"></span>
                                <div class='test' OnClick="closing()">&times;</div>
                            </div>
            
                            <input type="hidden" name='reply_details' value="">
                            <textarea rows="3" class="form-control border rounded resize-none-unique" placeholder="Ваш комментарий..." name="comment"></textarea>
                            <div class="pt-2 d-flex justify-content-end align-items-center">
                                <input type="submit" class="btn btn-sm btn-success" value="Отправить">
                            </div>
                        </form>
                    </div> <!-- end .border-->
                    {% endif %}
                </div> <!-- end card-body-->
            </div> <!-- end card-->
            {% if not status %}
            <div class="card">
                <div class="card-body align-items-center">
                    <p style="margin-bottom: 0 !important; text-align: center;">Необходимо
                        <a href="/login">авторизоваться</a>
                        , чтобы оставить комментарий.
                    </p>
                </div>
            </div>
            {% endif %}
        </div> <!-- end col --> 
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready( function() {
            $('.teams-images-unique').each(function() {
                if ( !this.complete
                ||   typeof this.naturalWidth == "undefined"
                ||   this.naturalWidth == 0                  ) {
                // image was broken, replace with your new image
                this.src = 'https://www.precisionpass.co.uk/wp-content/uploads/2018/03/default-team-logo.png';
                }
            });
        });
    </script>
    {% if status %}
    <script>
        function closing() {
            document.getElementById("answer-card-close").style.display="none";
            document.querySelector("textarea[name=comment]").value='';
            document.querySelector("input[name=reply_details]").value="";
        }

        function add(nikname, reply_id) {
            document.getElementById("answer-card-close").style.display="inline-flex";

            document.getElementById("answer-span-close").textContent='Ответ ' + nikname;
            
            document.querySelector("textarea[name=comment]").value=nikname + ', ';
            document.querySelector("input[name=reply_details]").value=reply_id;
        }
    </script>
    {% endif %}
{% endblock %}