{% extends "starter-page.html" %}

{% block header %}
    <link href="{{ url_for('main_page.static', filename='css/vendor/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/vendor/responsive.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/vendor/buttons.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/vendor/select.bootstrap4.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}Рейтинг пользователей{% endblock %}

{% block content %}
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                            <li class="breadcrumb-item active"><a href="#">Рейтинг пользователей</a></li>
                        </ol>
                    </div>
                    <h4 class="page-title">Рейтинг пользователей</h4>
                </div>
            </div>
        </div> 
        <!-- end page title --> 
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-centered table-borderless table-hover w-100 dt-responsive nowrap" id="products-datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Место</th>
                                        <th>Никнейм</th>
                                        <th>Прогнозы</th>
                                        <th>Прибыль</th>
                                        <th>Винрейт</th>
                                        <th>ROI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for statistic in statistics %}
                                    {% if current_user.id != statistic.Statistic.user_id and users_positions[statistic.Statistic.user_id] <= 200 %}
                                    <tr>
                                        <td>
                                            {{ users_positions[statistic.Statistic.user_id] }}
                                        </td>
                                        <td class="table-user">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + statistic.User.user_img) }}" alt="table-user" class="mr-2 rounded-circle">
                                            <a href="{{ url_for( 'main_page.account', user=statistic.Statistic.user_id ) }}" class="text-body font-weight-semibold">{{ statistic.User.nickname }}</a>
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.amount_predictions }}
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.profit }} VRUB
                                        </td>
                                        <td>
                                            {% if statistic.Statistic.unsuccessful_predictions != 0 %}
                                            {{ statistic.Statistic.successful_predictions * 100 // statistic.Statistic.amount_predictions }}%
                                            {% elif statistic.Statistic.successful_predictions != 0 %}
                                                100%
                                            {% else %}
                                                0%
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.ROI }}%
                                        </td>
                                    </tr>
                                    {% elif current_user.id == statistic.Statistic.user_id and users_positions[current_user.id] <= 200 %}
                                    <tr style='background-color: var(--bg-primary); color: white;'>
                                        <td>
                                            {{ users_positions[statistic.Statistic.user_id] }}
                                        </td>
                                        <td class="table-user">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + statistic.User.user_img) }}" alt="table-user" class="mr-2 rounded-circle">
                                            <a href="{{ url_for( 'main_page.account', user=statistic.Statistic.user_id ) }}" class="text-body font-weight-semibold" style="color: white !important;">{{ statistic.User.nickname }}</a>
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.amount_predictions }}
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.profit }} VRUB
                                        </td>
                                        <td>
                                            {% if statistic.Statistic.unsuccessful_predictions != 0 %}
                                            {{ statistic.Statistic.successful_predictions * 100 // statistic.Statistic.amount_predictions }}%
                                            {% elif statistic.Statistic.successful_predictions != 0 %}
                                                100%
                                            {% else %}
                                                0%
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ statistic.Statistic.ROI }}%
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    {% if current_user.is_authenticated and curr_user %}
                                        {% if users_positions[current_user.id] > 200 and curr_user %}
                                        <tr>
                                            <td>
                                                {{ users_positions[curr_user.user_id] }}
                                            </td>
                                            <td class="table-user">
                                                <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + curr_user.user_img) }}" alt="table-user" class="mr-2 rounded-circle">
                                                <a href="{{ url_for( 'main_page.account', user=current_user.id ) }}" class="text-body font-weight-semibold">{{ curr_user.nickname }}</a>
                                            </td>
                                            <td>
                                                {{ curr_user.amount_predictions }}
                                            </td>
                                            <td>
                                                {{ curr_user.profit }} VRUB
                                            </td>
                                            <td>
                                                {% if curr_user.unsuccessful_predictions != 0 %}
                                                {{ curr_user.successful_predictions * 100 // curr_user.amount_predictions }}%
                                                {% elif curr_user['successful_predictions'] != 0 %}
                                                    100%
                                                {% else %}
                                                    0%
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ curr_user.ROI }}%
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>


{% endblock %}

{% block scripts %}  
    <script src="{{ url_for('main_page.static', filename='js/vendor/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.bootstrap4.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/vendor/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('main_page.static', filename='js/vendor/dataTables.checkboxes.min.js') }}"></script>

    
    <script src="{{ url_for('main_page.static', filename='js/pages/demo.sellers.js') }}"></script>
{% endblock %}