<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('main_page.static', filename='images/favicon_package_v0/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('main_page.static', filename='images/favicon_package_v0/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('main_page.static', filename='images/favicon_package_v0/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('main_page.static', filename='images/favicon_package_v0/site.webmanifest') }}">
        
        <!-- App css -->
        <link rel="preload" href="{{ url_for('main_page.static', filename='css/variables.css') }}" as="style" type="text/css">
        <link href="{{ url_for('main_page.static', filename='css/icons.css') }}" rel="stylesheet" type="text/css" id="light-style">
        <link href="{{ url_for('main_page.static', filename='css/app-modern.css') }}" rel="stylesheet" type="text/css" id="light-style">
        <link href="{{ url_for('main_page.static', filename='css/app-modern-dark.css') }}" rel="stylesheet" type="text/css" id="dark-style">
        <link href="{{ url_for('main_page.static', filename='css/app-modern-unique.css') }}" rel="stylesheet" type="text/css" id="dark-style">

        <!-- App fonts -->
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/materialdesignicons-webfont.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/unicons.woff2') }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/Nunito-Bold.woff') }}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/Nunito-SemiBold.woff') }}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/Nunito-Regular.woff') }}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{{ url_for('main_page.static', filename='fonts/dripicons-v2.woff') }}" as="font" type="font/woff" crossorigin>
        {% block header %}{% endblock %}
    </head>

    <body class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}'>
        <div class="main-wrapper-background"></div>
        <!-- Topbar Start -->
        <div class="navbar-custom topnav-navbar topnav-navbar-dark topnav-navbar-unique">
            <div class="container-fluid">

                <!-- LOGO -->
                <a href="{{ url_for('main_page.index') }}" class="topnav-logo topnav-navbar-logo-unique">
                    <span class="topnav-logo-lg">
                        <img src="{{ url_for('main_page.static', filename='images/xl-logo.svg') }}" alt="logo" height="35">
                    </span>
                    <span class="topnav-logo-sm">
                        <img src="{{ url_for('main_page.static', filename='images/logo.svg') }}" alt="logo" height="40" style="margin-left: 15px;">
                    </span>
                </a>

                <ul class="list-unstyled topbar-right-menu float-right mb-0">
                    {% if current_user.is_authenticated %}

                    <li class="notification-list balance-starter-account-unique">
                        <a class="nav-link arrow-none" href="javascript: void(0);">
                            <button class="btn btn-outline-secondary btn-rounded" style="color: var(--nav-link); margin-top: 18px; font-weight: 600;">
                                <i class="dripicons-wallet mr-1" style="line-height: 1.5;"></i>
                                Баланс: <span id="current_balance">{{ current_user.balance | int }} </span>VRUB
                            </button>
                        </a>
                    </li>


                    <li class="dropdown notification-list notification-block">
                        <a class="nav-link dropdown-toggle arrow-none notification-bell" data-toggle="dropdown" href="#" id="topbar-notifydrop" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="dripicons-bell noti-icon"></i>
                            {% if current_user.get_notifications_status() %}
                            <span class="noti-icon-badge"></span>
                            {% else %}
                            <span></span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg" aria-labelledby="topbar-notifydrop">
    
                            <!-- item-->
                            
                            <div class="dropdown-item noti-title">
                                <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="javascript: void(0);" class="text-dark" id="clear_notifications">
                                            <small>Очистить</small>
                                        </a>
                                    </span>Уведомления
                                </h5>
                            </div>
                            <div style="max-height: 230px;" data-simplebar id="notif-block">
                                
                                {% for notification in current_user.get_notifications() %}
                                <!-- item-->
                                <a href="{{ notification.link }}" class="dropdown-item notify-item notification-item">
                                    <div class="notify-icon bg-primary">
                                        <i class="mdi mdi-comment-account-outline"></i>
                                    </div>
                                    <p class="notify-details">{{ notification.description }}
                                        <small class="text-muted local-date">{{ notification.date }}</small>
                                    </p>
                                </a>
                                {% endfor %}
                                

                            </div>
                            <!-- All-->
                            <!-- <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                Открыть полностью
                            </a> -->
    
                        </div>
                    </li>
                    {% endif %}

                    <li class="notification-list">
                        <a class="nav-link right-bar-toggle" href="javascript: void(0);">
                            <i class="dripicons-gear noti-icon"></i>
                        </a>
                    </li>
                    

                    {% if current_user.is_authenticated %}
                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0 account-user-starter-unique" data-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + current_user.user_img) }}" alt="user-image" id="user_avatar_navbar" class="rounded-circle">
                            </span>
                            <span>
                                <span class="account-user-name" style='padding-top: 9px;'>{{ current_user.nickname }}</span>
                                <!-- <span class="account-position" style="font-weight: 500;">Админ</span> -->
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
    
                            <!-- item-->
                            <a href="{{ url_for( 'main_page.account', user=current_user.get_id() ) }}" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-circle mr-1"></i>
                                <span>Мой аккаунт</span>
                                <span id="balance_on_phones" style="float: right;">Баланс: {{ current_user.balance | int }} VRUB</span>
                            </a>
    
                            <!-- item-->
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main_page.update_profile') }}" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-edit mr-1"></i>
                                <span>Настройки</span>
                            </a>
                            {% endif %}
    
                            <!-- item-->
                            <!-- <a href="/faq" class="dropdown-item notify-item">
                                <i class="mdi mdi-lifebuoy mr-1"></i>
                                <span>Поддержка</span>
                            </a> -->

                            <!-- item-->
                            <a href="{{ url_for('main_page.user_predictions', user=current_user.id, type_pred='actual') }}" class="dropdown-item notify-item">
                                <i class="mdi mdi-file-document-outline" style="margin-right: 6px"></i>
                                <span>Мои прогнозы</span>
                            </a>

                            <!-- item-->
                            <a href="{{ url_for('main_page.add_prognos') }}" class="dropdown-item notify-item">
                                <i class="mdi mdi-file-document-edit-outline" style="margin-right: 6px"></i>
                                <span>Добавить прогноз</span>
                            </a>
                            
                            <!-- item-->
                            <a href="/logout" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout mr-1"></i>
                                <span>Выход</span>
                            </a>
    
                        </div>
                    </li>
                    {% else %}
                    <li class="notification-list account-bar-nonauth-unique" style="background-color: #455266; border: 1px solid #414d5d; transition: all 0.3s;">
                        <a class="account-bar-position-unique" href="/login">
                            <span class="account-position account-position-unique">Войти</span>
                        </a>
                    </li>

                    {% endif %}

                </ul>
                <a class="button-menu-mobile disable-btn">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- end Topbar -->
        
        <!-- Start Content-->
        <div class="container-fluid container-fluid-unique container-low-resolution-unique">

            <!-- Begin page -->
            <div class="wrapper wrapper-unique">

                <!-- ========== Left Sidebar Start ========== -->
                <div class="left-side-menu-unique left-side-menu left-side-menu-detached ">
                    <div class=""></div>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main_page.account', user=current_user.get_id() ) }}">
                        <div class="leftbar-user">
                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + current_user.user_img) }}" alt="user-image" id="user_avatar_leftbar" height="42" class="rounded-circle shadow-sm">
                            <span class="leftbar-user-name" style="margin-left: 0 !important;">{{ current_user.nickname }}</span>
                        </div>
                    </a>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}">
                        <div class="leftbar-user">
                            <img src="{{ url_for('main_page.static', filename='images/users/logout_user.jpg') }}" alt="user-image" height="58" class="rounded-circle shadow-sm">
                            <span class="">
                                <span href="" class="leftbar-user-name" style="margin-left: 0 !important;">Авторизоваться</span>
                            </span>
                        </div>
                    </a>
                    {% endif %}

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav">

                        <li class="side-nav-title side-nav-item">Навигация</li>

                        <li class="side-nav-item">
                            <a href="{{ url_for('main_page.index') }}" class="side-nav-link">
                                <i class="dripicons-briefcase" style="font-size: 20px"></i>
                                <span>Прогнозы</span>
                            </a>
                        </li>

                        <!-- <li class="side-nav-item">
                            <a href="{{ url_for('main_page.paid_prognos_non_access') }}" class="side-nav-link">
                                <i class="mdi mdi-cash-usd-outline" style="font-size: 23px"></i>
                                <span>Платные прогнозы</span>
                            </a>
                        </li> -->

                        <li class="side-nav-item">
                            <a href="{{ url_for('main_page.rating_people') }}" class="side-nav-link">
                                <i class="mdi mdi-trophy-outline" style="font-size: 23px"></i>
                                <span>Рейтинг игроков</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="{{ url_for('main_page.faq') }}" class="side-nav-link">
                                <i class="mdi mdi-lifebuoy" style="font-size: 23px"></i>
                                <span>Поддержка</span>
                            </a>
                        </li>
                        
                        {% if current_user.is_authenticated %}

                            <li class="side-nav-title side-nav-item mt-2">Действия</li>

                            <li class="side-nav-item">
                                <a href="{{ url_for('main_page.add_prognos') }}" class="side-nav-link">
                                    <i class="mdi mdi-file-document-edit-outline" style="font-size: 20px"></i>
                                    <span>Добавить прогноз</span>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                    <!-- Help Box -->
                    <!-- <div class="help-box text-center">
                        <a href="javascript: void(0);" class="float-right close-btn text-body">
                            <i class="mdi mdi-close"></i>
                        </a>
                        <img src="{{ url_for('main_page.static', filename='images/help-icon.svg') }}" height="90" alt="Helper Icon Image" />
                        <h5 class="mt-3">Advertisment</h5>
                    </div>
                    <div class="clearfix"></div> -->
                   
                </div>
                <!-- Left Sidebar End -->

                <div class="content-page content-page-unique">
                    <div class="content">

                    {% block content %}{% endblock %}

                    </div>
                    <!-- End Content -->

                    
                </div> <!-- content-page -->
            </div> <!-- end wrapper-->
        </div> <!-- END Container -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid footer-unique">
                <div class="row">
                    <div class="col-md-6">
                        2020 © Cybertips.net
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-md-block">
                            <a href="{{ url_for('main_page.user_agreements') }}">Соглашения</a>
                            <a href="{{ url_for('main_page.faq') }}">Поддержка</a>
                            <!-- <a href="/maintenance">Контакты</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer> <!-- end Footer -->
        


        <!-- Right Sidebar -->
        <div class="right-bar">

            <div class="rightbar-title">
                <a href="javascript:void(0);" class="right-bar-toggle float-right">
                    <i class="dripicons-cross noti-icon"></i>
                </a>
                <h5 class="m-0">Настройки</h5>
            </div>

            <div class="rightbar-content h-100" data-simplebar>

                <div class="p-3">
                    <div class="alert alert-warning" role="alert">
                    <!-- <div class="alert alert-warning"> -->
                        <strong>Комфортно</strong> использовать в любое время суток.
                    </div>

                    <!-- Settings -->
                    <h5 class="mt-3">Темы</h5>
                    <hr class="mt-1" />

                    <!-- <div class="custom-control custom-switch mb-1">
                        <input type="radio" class="custom-control-input" name="color-scheme-mode" value="light"
                            id="light-mode-check" checked />
                        <label class="custom-control-label" for="light-mode-check">Светлая тема</label>
                    </div>

                    <div class="custom-control custom-switch mb-1">
                        <input type="radio" class="custom-control-input" name="color-scheme-mode" value="dark"
                            id="dark-mode-check" />
                        <label class="custom-control-label" for="dark-mode-check">Тёмная тема</label>
                    </div> -->



                    <button class="button-container btn btn-secondary btn-block change-theme" id="toggle-theme-unique">Сменить тему</button>
                        <!-- <button class="change-theme" id="toggle-theme-unique">Поменять цвет</button> -->


                    <!-- <button class="btn btn-primary btn-block mt-4" id="resetBtn">Закрыть</button> -->
                </div> <!-- end padding-->

            </div>
        </div>

        <div class="rightbar-overlay"></div>
        <!-- /Right-bar -->
        <!-- go top btn -->
        <a id="go_top_btn"></a>


        <!-- bundle -->
        <script src="{{ url_for('main_page.static', filename='js/vendor.min.js') }}"></script>
        <script src="{{ url_for('main_page.static', filename='js/app.min.js') }}"></script>
        <script src="{{ url_for('main_page.static', filename='js/js-unique.js') }}"></script>

        <script src="{{ url_for('main_page.static', filename='js/moment-with-locales.min.js') }}"></script>
        <script src="{{ url_for('main_page.static', filename='js/local-date.js') }}"></script>
        {% block scripts %}{% endblock %}
        
        {% if current_user.is_authenticated %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            
            const current_balance = '{{ current_user.balance }}';
            
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port, { transports: ['websocket'] });
            //var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', () => {
                socket.emit('add_user', '{{ current_user.get_id() }}');
            });


            socket.on('message', data => {
                console.log(data);
            });

            $(document).on('click', "#subscribe", function() {
                const send_to_id = $('#subscribe').attr('info')
                const unsubscribe_btn = `<button type="button" class="btn btn-light" id='unsubscribe' info="${send_to_id}" style="background-color: #ad2b2b; border-color: #ad2b2b; color: #dbdbdb;>
                                            <i class="mdi mdi-account-edit mr-1"></i> Отписаться
                                        </button>`;
                $('#subscribe').remove();
                $('#profile_btn_block').append(unsubscribe_btn);
                $('#count-subs').text(parseInt($('#count-subs').text()) + 1)
                
                socket.emit('subscribe', {'send_to' : send_to_id, 'from' : '{{ current_user.nickname }}', 'send_from_id': '{{ current_user.get_id() }}'});
            });

            $(document).on('click', "#unsubscribe", function() {
                const send_to_id = $('#unsubscribe').attr('info')
                const subscribe_btn = `<button type="button" class="btn btn-light" id='subscribe' info="${send_to_id}>
                                            <i class="mdi mdi-account-edit mr-1"></i> Подписаться
                                        </button>`;
                $('#unsubscribe').remove();
                $('#profile_btn_block').append(subscribe_btn);
                $('#count-subs').text(parseInt($('#count-subs').text()) - 1)

                socket.emit('unsubscribe', { 'send_to' : send_to_id, 'send_from': '{{ current_user.get_id() }}'});
            });

            socket.on('notification', function(data) {
                $.NotificationApp.send(`${data['title']}`, `${data['from']} ${data['description']}`, "bottom-right", "#536de6", "uil-users-alt");
                const elem = `<a href="${data['link']}" class="dropdown-item notify-item notification-item">\
                                <div class="notify-icon bg-primary">\
                                    <i class="mdi mdi-comment-account-outline"></i>\
                                </div>\
                                <p class="notify-details">${data['from']} ${data['description']}\
                                    <small class="text-muted local-date">${local_time(data['date']) }</small>\
                                </p>\
                            </a>`;

                if (!$(".notification-block").hasClass("show")) {
                    $(".notification-bell").find('span').addClass("noti-icon-badge");
                } else {
                    socket.emit('viewed', '{{ current_user.get_id() }}');
                }
                
                $('#notif-block').find('.simplebar-content').prepend(elem);
            });

            $(".notification-bell").on('click', function() {
                $(this).find('span').removeClass('noti-icon-badge')
                socket.emit('viewed', '{{ current_user.get_id() }}');
            });
            
    
            $('#clear_notifications').on('click', function() {
                $(".notification-item").remove();
                socket.emit('clear_notifications', '{{ current_user.get_id() }}');
            });
        </script>
        {% endif %}
        
    </body>
</html>