{% extends "account.html" %}

{% block page_title %}Подписчики{% endblock %}

{% block header %}
    <!-- Cropper css -->
    <link href="{{ url_for('main_page.static', filename='css/cropper.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/cropper-unique.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagebread %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('main_page.account', user=current_user.get_id()) }}" >Профиль</a></li></li>
                    <li class="breadcrumb-item active"><a href="#" >Подписчики</a></li></li>
                </ol>
            </div>
            <h4 class="page-title">Подписчики</h4>
        </div>  
    </div>
</div>     
<!-- end page title --> 
{% endblock %}

{% block accountinfo %}
    <div class="card">
        <div class="card-body">
            {% if subscribers %}
            <h4 class="header-title mt-0 mb-3">Подписчиков: {{ count_subs }}</h4>
            <div class="row align-items-center justify-content-start">
                {% for subscriber in subscribers %}
                <div class="mt-2 mr-2 sub__container">
                    <a class="sub__link" href="{{ url_for('main_page.account', user=subscriber[0]['id']) }}">
                        <div class="sub__card">
                            <div class="sub__card__wrapper">
                                <img class="sub__img__wrapper" src="{{ url_for('main_page.static', filename='images/users_avatar/' + subscriber[0]['user_img']) }}" />
                                    <h1 class="sub__info__wrapper">{{ subscriber[0]['nickname'] }}</h1>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h4 class="header-title mt-2 mb-3" style="text-align: center;">У пользователя нет подписчиков.</h4>
            {% endif %} 
        </div>
    </div>
{% endblock %}


{% block scripts %}

<!-- Cropper Main -->
<script src="{{ url_for('main_page.static', filename='js/cropper.min.js') }}"></script>

<!-- Cropper -->
<script>
    function getRoundedCanvas(sourceCanvas) {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var width = sourceCanvas.width;
        var height = sourceCanvas.height;
  
        canvas.width = width;
        canvas.height = height;
        context.imageSmoothingEnabled = true;
        context.drawImage(sourceCanvas, 0, 0, width, height);
        context.globalCompositeOperation = 'destination-in';
        context.beginPath();
        context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
        context.fill();
        return canvas;
      }
  
      window.addEventListener('DOMContentLoaded', function () {
        var avatar = document.getElementById('avatar');
        var avatar_leftbar = document.getElementById('user_avatar_leftbar')
        var avatar_navbar = document.getElementById('user_avatar_navbar')
        var image = document.getElementById('image');
        var input = document.getElementById('input');
        var $progress = $('.progress');
        var $progressBar = $('.progress-bar');
        var $alert = $('.alert-user-avatar');
        var $modal = $('#modal');
        var cropper;
  
        $('[data-toggle="tooltip"]').tooltip();
  
        input.addEventListener('change', function (e) {
          var files = e.target.files;
          var done = function (url) {
            input.value = '';
            image.src = url;
            $alert.hide();
            $modal.modal('show');
          };
          var reader;
          var file;
          var url;
  
          if (files && files.length > 0) {
            file = files[0];
  
            if (URL) {
              done(URL.createObjectURL(file));
            } else if (FileReader) {
              reader = new FileReader();
              reader.onload = function (e) {
                done(reader.result);
              };
              reader.readAsDataURL(file);
            }
          }
        });
  
        $modal.on('shown.bs.modal', function () {
          cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
          });
        }).on('hidden.bs.modal', function () {
          cropper.destroy();
          cropper = null;
        });
  
        document.getElementById('crop').addEventListener('click', function () {
          var initialAvatarURL;
          var canvas;
  
          $modal.modal('hide');
  
          if (cropper) {
            canvas = cropper.getCroppedCanvas({
              width: 200,
              height: 200,
            });
            canvas = getRoundedCanvas(canvas);
            initialAvatarURL = avatar.src;

            avatar.src = canvas.toDataURL();
            $progress.show();
            $alert.removeClass('alert-success alert-warning');
            canvas.toBlob(function (blob) {
              var formData = new FormData();
  
              formData.append('avatar', blob, 'avatar.jpg');
              $.ajax("{{ url_for( 'main_page.upload_user_avatar') }}", {
                method: 'POST',
                data: formData,
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                processData: false,
                contentType: false,
  
                xhr: function () {
                  var xhr = new XMLHttpRequest();
  
                  xhr.upload.onprogress = function (e) {
                    var percent = '0';
                    var percentage = '0%';
  
                    if (e.lengthComputable) {
                      percent = Math.round((e.loaded / e.total) * 100);
                      percentage = percent + '%';
                      $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                    }
                  };
  
                  return xhr;
                },
  
                success: function () {
                    avatar_leftbar.src = avatar.src;
                    avatar_navbar.src = avatar.src; 
                    $alert.show().addClass('alert-success').text('Загрузка успешно завершена');
                    setTimeout (function () {
                        $alert.hide();
                    }, 3800)
                },
  
                error: function () {
                  avatar.src = initialAvatarURL;
                  $alert.show().addClass('alert-warning').text('Ошибка загрузки');
                },
  
                complete: function () {
                  $progress.hide();
                },
              });
            });
          }
        });
      });
</script>
<!-- End Cropper -->

{% endblock %}
                                                    