{% extends "account.html" %}

{% block page_title %}Настройки{% endblock %}

{% block header %}
    <!-- Cropper css -->
    <link href="{{ url_for('main_page.static', filename='css/cropper.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('main_page.static', filename='css/cropper-unique.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pagebread %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('main_page.account', user=current_user.get_id()) }}" >Профиль</a></li></li>
                        <li class="breadcrumb-item active"><a href="#" >Настройки</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Настройки аккаунта</h4>
            </div>  
        </div>
    </div>     
    <!-- end page title --> 
{% endblock %}

{% block pagetitle %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="{{ url_for('main_page.account', user=current_user.get_id()) }}" >Профиль</a></li></li>
                    </ol>
                </div>
                <h4 class="page-title">Профиль</h4>
            </div>  
        </div>
    </div>     
    <!-- end page title --> 
{% endblock %}

{% block accountinfo %}
    <!--  -->

    <div class="row">
        <div class="col-12">
            <!-- Personal-Information -->
            <div class="card">
                <div class="card-body border rounded">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li style="color: red; font-size: 18x;">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <form id="update-profile" class="form-horizontal" method="POST" action="{{ url_for('main_page.update_profile_submit') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="row form-group justify-content-start mb-3">
                            <div class="col-12">
                                <h4 class="col-12 mb-3">Подключение аккаунтов</h4>
                            </div>
                            {% if user['link_vk'] %}
                            <div class="update-connect-services col-12 col-md-4 mb-3">
                                <a href="{{ url_for('main_page.logout_vk') }}">
                                    <button type="button" class="btn btn-block" style="background-color: #4a76a8; color: #fff"><i class="mdi mdi-vk-circle mr-1"></i> <span>Отвязать Вконтакте</span> </button>
                                </a>
                            </div>
                            {% else %}
                            <div class="update-connect-services col-12 col-md-4 mb-3">
                                <a href="{{ url_for('main_page.auth_vk') }}">
                                    <button type="button" class="btn btn-block" style="background-color: #4a76a8; color: #fff"><i class="mdi mdi-vk-circle mr-1"></i> <span>Вконтакте</span> </button>
                                </a>
                            </div>
                            {% endif %}
                            <!-- <div class="update-connect-services col-12 col-md-4 mb-3">
                                <button id="loginfb"  onclick="javascript:loginWithFB()" type="button" class="btn btn-block" style="background-color: #1877f2; color: #fff"><i class="mdi mdi-facebook mr-1"></i> <span>Facebook</span> </button>
                            </div>
                            <div class="update-connect-services col-12 col-md-4 mb-3">
                                <button type="button" class="btn btn-block" style="background-color: #1DA1F2; color: #fff"><i class="mdi mdi-twitter-circle mr-1"></i> <span>Twitter</span> </button>
                            </div> -->
                        </div>
                        <!-- <hr/> -->
                        <!-- <div class="row d-flex justify-content-beetwen">
                            <div class="col-12 mb-3">
                                <h4>Редактировать информацию о себе</h4>
                            </div>
                            <div class="col-md-6 pr-5">
                                <div class="form-group">
                                    <label for="simpleinput">Имя</label>
                                    <input type="text" id="update-name" name="update-name" class="form-control" minlength="3" placeholder="Имя" value="{{ user['name'] }}">
                                </div>
                            </div>
                            <div class="col-md-6 pr-5">
                                <div class="form-group">
                                    <label for="simpleinput">Фамилия</label>
                                    <input type="text" id="update-fam" name="update-fam" class="form-control" minlength="3" placeholder="Фамилия" value="{{ user['second_name'] }}">
                                </div>
                            </div>
                            <div class="col-md-6 mt-2 pr-5">
                                <div class="form-group">
                                    <label for="update-email">Почта</label>
                                    <input type="email" disabled id="example-email" name="update-email" class="form-control" placeholder="Email" value="{{ user['email'] }}">
                                </div>
                            </div>
                            <div class="col-md-6 mt-2 pr-5">
                                <div class="form-group">
                                    <label for="tel">Телефон</label>
                                    <input type="tel" id="update-tel" name="update-tel" class="form-control" placeholder="Телефон">
                                </div>
                            </div>
                        </div> -->
                        <hr/>
                        <div class="row justify-content-between">
                            <div class="col-12 mb-3">
                                <h4>Смена пароля</h4>
                            </div>
                            <div class="col-md-5 mr-5">
                                <div class="form-group">
                                    <label for="password">Введите текущий пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" name="current-password" class="form-control" placeholder="Введите текущий пароль">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="password">Введите новый пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password1" name="password1" minlength="6" class="form-control" placeholder="Введите новый пароль">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 mr-5">
                                <div class="form-group">
                                    <label for="password">Повторите пароль</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password2" name="password2" minlength="6" class="form-control" placeholder="Повторите пароль">
                                        <div class="input-group-append" data-password="false">
                                            <div class="input-group-text">
                                                <span class="password-eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row d-flex mb-3">
                            <div class="col-12 mb-3">
                                <h4>Немного о себе</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- <label for="update-story">Немного о себе</label> -->
                                    <div id="current-lenght-textarea-wrapper" style="float: right;">
                                        <span class="" style="" id='current-lenght-textarea'>0&nbsp;</span> / 200
                                    </div>
                                    <textarea id="textarea_about_user" class="form-control" id="update-story" name="info-about" rows="6" maxlength="200" placeholder="Расскажите о себе" minlength="10" style="resize: none;" >{% if user['description'] %}{{ user['description'] }}{% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        
                        <hr/>
                        <ul class="list-inline pull-right" id="update-profile">
                            <li><a href="{{ url_for('main_page.account', user=user['id']) }}"><button type="button" class="btn btn-secondary default-btn">Отменить</button></a></li>
                            <input type="submit" class="btn btn-success default-btn" value='Сохранить' name='submit'>
                        </ul>
                    </form>
                </div>
            </div>

        </div> <!-- end col-->
    </div>
    <!-- end row -->
{% endblock %}

{% block scripts %}

<!-- Cropper Main -->
<script src="{{ url_for('main_page.static', filename='js/cropper.min.js') }}"></script>
<script>
    document.getElementById('textarea_about_user').addEventListener('keyup', function (e) {
                var characters = this.value.length;
                document.getElementById('current-lenght-textarea').textContent = characters;
    });
</script>
<!-- Cropper -->
<script>
    function getRoundedCanvas(sourceCanvas) {
        var canvas = document.createElement('canvas');
        var context = canvas.getContext('2d');
        var width = sourceCanvas.width;
        var height = sourceCanvas.height;
  
        canvas.width = width;
        canvas.height = height;
        context.imageSmoothingEnabled = true;
        context.drawImage(sourceCanvas, 0, 0, width, height);
        context.globalCompositeOperation = 'destination-in';
        context.beginPath();
        context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
        context.fill();
        return canvas;
      }
  
      window.addEventListener('DOMContentLoaded', function () {
        var avatar = document.getElementById('avatar');
        var avatar_leftbar = document.getElementById('user_avatar_leftbar')
        var avatar_navbar = document.getElementById('user_avatar_navbar')
        var image = document.getElementById('image');
        var input = document.getElementById('input');
        var $progress = $('.progress');
        var $progressBar = $('.progress-bar');
        var $alert = $('.alert-user-avatar');
        var $modal = $('#modal');
        var cropper;
  
        $('[data-toggle="tooltip"]').tooltip();
  
        input.addEventListener('change', function (e) {
          var files = e.target.files;
          var done = function (url) {
            input.value = '';
            image.src = url;
            $alert.hide();
            $modal.modal('show');
          };
          var reader;
          var file;
          var url;
  
          if (files && files.length > 0) {
            file = files[0];
  
            if (URL) {
              done(URL.createObjectURL(file));
            } else if (FileReader) {
              reader = new FileReader();
              reader.onload = function (e) {
                done(reader.result);
              };
              reader.readAsDataURL(file);
            }
          }
        });
  
        $modal.on('shown.bs.modal', function () {
          cropper = new Cropper(image, {
            aspectRatio: 1,
            viewMode: 1,
          });
        }).on('hidden.bs.modal', function () {
          cropper.destroy();
          cropper = null;
        });
  
        document.getElementById('crop').addEventListener('click', function () {
          var initialAvatarURL;
          var canvas;
  
          $modal.modal('hide');
  
          if (cropper) {
            canvas = cropper.getCroppedCanvas({
              width: 200,
              height: 200,
            });
            canvas = getRoundedCanvas(canvas);
            initialAvatarURL = avatar.src;

            avatar.src = canvas.toDataURL();
            $progress.show();
            $alert.removeClass('alert-success alert-warning');
            canvas.toBlob(function (blob) {
              var formData = new FormData();
  
              formData.append('avatar', blob, 'avatar.jpg');
              $.ajax("{{ url_for( 'main_page.upload_user_avatar') }}", {
                method: 'POST',
                data: formData,
                headers: {'X-CSRF-TOKEN': "{{ csrf_token() }}" },
                processData: false,
                contentType: false,
  
                xhr: function () {
                  var xhr = new XMLHttpRequest();
  
                  xhr.upload.onprogress = function (e) {
                    var percent = '0';
                    var percentage = '0%';
  
                    if (e.lengthComputable) {
                      percent = Math.round((e.loaded / e.total) * 100);
                      percentage = percent + '%';
                      $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                    }
                  };
  
                  return xhr;
                },
  
                success: function () {
                    avatar_leftbar.src = avatar.src;
                    avatar_navbar.src = avatar.src; 
                    $alert.show().addClass('alert-success').text('Загрузка успешно завершена');
                    setTimeout (function () {
                        $alert.hide();
                    }, 3800)
                },
  
                error: function () {
                  avatar.src = initialAvatarURL;
                  $alert.show().addClass('alert-warning').text('Ошибка загрузки');
                },
  
                complete: function () {
                  $progress.hide();
                },
              });
            });
          }
        });
      });
</script>
<!-- End Cropper -->



<script>
    document.getElementById('loginfb').addEventListener('click', loginWithFB, false)
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '692109731428041',
      cookie     : true,
      xfbml      : true,
      version    : 'v8.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   function loginWithFB() {
       FB.login( response => {
       }, {scope: 'public_profile'})
       return false
   }
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}