{% extends "starter-page.html" %}

{% block page_title %}Соглашения{% endblock %}

{% block header %}
<link href="{{ url_for('main_page.static', filename='css/user_agreements.css') }}"rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/" style="color: #6c757d;">Cybertips</a></li>
                    <li class="breadcrumb-item active"><a
                            href="{{ url_for('main_page.user_agreements') }}">Соглашения</a></li>
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Соглашения</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="accordion" id="accordionExample" style="-webkit-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2); -moz-box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2); box-shadow: 0px 0px 7px 0px rgba(34, 60, 80, 0.2); margin-bottom: 4rem;">
    <div class="card mb-0">
        <div class="card-header" id="headingOne">
            <h5 class="m-0">
                <a class="custom-accordion-title d-block pt-2 pb-2" data-toggle="collapse" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Политика конфиденциальности
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </a>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p><strong>Политика Конфиденциальности сайта cybertips.net</strong></p>
                <p><span style="font-weight: 400;">Администрация сайта cybertips.net обязуется сохранять вашу конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных. Наша политика конфиденциальности основана на требованиях&nbsp;</span><a href="https://ec.europa.eu/info/law/law-topic/data-protection_en"><span style="font-weight: 400;">Общего регламента о защите персональных данных Европейского Союза (GDPR).&nbsp;</span></a><span style="font-weight: 400;">Цели, в которых мы собираем персональные данные: улучшение работы нашего сервиса, осуществление контактов с посетителями данного сайта, предоставление информации, которую запрашивал пользователь, осуществление услуг, связанных с направлением деятельности данного сайта, а также для указанных ниже действий.</span></p>
                <p><strong>Сбор и использование персональных данных</strong></p>
                <p><span style="font-weight: 400;">Мы собираем и используем ваши персональные данные только в случае вашего добровольного согласия. При согласии с этим Вы разрешаете нам собирать и использовать следующие данные: электронная почта, данные аккаунтов в социальных сетях Facebook, VK и Twitter. Сбор и обработка ваших данных проводится соответствии с законами, действующими на территории Европейского Союза и в государстве Украина.</span></p>
                <p><strong>Хранение данных, изменение и удаление</strong></p>
                <p><span style="font-weight: 400;">Пользователь, предоставивший свои персональные данные сайту cybertips.net имеет право на их изменение и удаление, а так же на отзыв своего согласия с их использованием. Срок, в течение которого будут храниться ваши персональные данные: время, необходимое для использования данных для основной деятельности сайта. При завершении использования ваших данных администрация сайта удаляет их. Для доступа к своим персональным данным Вы можете связаться с администрацией сайта по следующему адресу: support@cybertips.net. Мы можем передавать ваши личные данные третьей стороне только с вашего добровольного согласия, если они были переданы, то изменение данных в других организациях, не связанных с нами, мы осуществить не можем.</span></p>
                <p><strong>Использование технических данных при посещении сайта</strong></p>
                <p><span style="font-weight: 400;">При посещении вами сайта cybertips.net в базе данных сохраняются записи о вашем IP адресе и настройках браузера для корректного отображения содержимого сайта. По этим данным нам невозможно идентифицировать личность посетителя.</span></p>
                <p><strong>Использование cookies</strong></p>
                <p><span style="font-weight: 400;">Для корректного отображения содержимого и для удобства использования сайта cybertips.net мы используем cookie файлы. Это небольшие файлы, которые хранятся на вашем устройстве. Они помогают сайту запомнить информацию о вас, например на каком языке Вы просматриваете сайт и какие страницы Вы уже открывали, эта информация будет полезна при следующем посещении. Благодаря файлам cookie просмотр сайта становится значительно более удобным. Подробнее про эти файлы Вы можете&nbsp;</span><a href="https://ru.wikipedia.org/wiki/Cookie"><span style="font-weight: 400;">прочитать тут</span></a><span style="font-weight: 400;">. Вы можете настроить прием или блокировку cookie в браузере самостоятельно. Невозможность принимать cookie может ограничить работоспособность сайта.</span></p>
                <p><strong>Ссылки на другие сайты</strong></p>
                <p><span style="font-weight: 400;">Наш сайт cybertips.net может содержать ссылки на другие сайты, которые не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам ознакомиться с политикой конфиденциальности каждого сайта, который Вы посещаете, если она там есть.</span></p>
                <p><strong>Изменения в политике конфиденциальности</strong></p>
                <p><span style="font-weight: 400;">Наш сайт cybertips.net может&nbsp;обновлять нашу политику конфиденциальности время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на этой странице. Мы отслеживаем изменения законодательства, касающегося персональных данных в Европейском Союзе и в государстве Украина. Если Вы оставили персональные данные у нас, то мы оповестим вас об изменении в политике конфиденциальности. Если ваши персональные данные были введены не корректно, то мы не сможем с вами связаться.</span></p>
                <p><strong>Обратная связь, заключительные положения</strong></p>
                <p><span style="font-weight: 400;">Связаться с администрацией сайта cybertips.net по вопросам, связанным с политикой конфиденциальности, можно с помощью контактной формы, указанной в соответствующем разделе данного сайта. Если Вы не согласны с данной политикой конфиденциальности, Вы не можете пользоваться услугами сайта cybertips.net, в этом случае Вы должны воздержаться от посещения нашего сайта.</span></p>
            </div>
        </div>
    </div>
    <div class="card mb-0">
        <div class="card-header" id="headingTwo">
            <h5 class="m-0">
                <a class="custom-accordion-title collapsed d-block pt-2 pb-2" data-toggle="collapse" href="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Пользовательское соглашение
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <p><span style="font-weight: 400;">Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцами </span><strong>CyberTips.net</strong><span style="font-weight: 400;"> (далее CT или Администрация) с одной стороны и пользователем сайта с другой.</span></p>
                <p><span style="font-weight: 400;">Используя сайт, Вы соглашаетесь с условиями данного соглашения.</span></p>
                <p><strong>Если Вы не согласны с условиями данного соглашения, не используйте сайт CyberTips.net.</strong></p>
                <p><span style="font-weight: 400;">Вы используете наш ресурс на свой страх и риск. Претензии по поводу денежных убытков в букмекерских конторах не принимаются. Сайт </span><strong>CyberTips.net</strong><span style="font-weight: 400;"> не является средством массовой информации.</span></p>
                <h3><strong>1. Предмет соглашения</strong></h3>
                <p><span style="font-weight: 400;">Администрация предоставляет пользователю право на размещение на сайте следующей информации:</span></p>
                <p><span style="font-weight: 400;">1.1 Текстовой информации</span></p>
                <p><span style="font-weight: 400;">1.2 Ссылок на материалы, размещенные на других сайтах</span></p>
                <h3><strong>2. Права и обязанности сторон</strong></h3>
                <p><strong>2.1 Пользователь имеет право:</strong></p>
                <p><span style="font-weight: 400;">2.1.1 осуществлять поиск информации на сайте</span></p>
                <p><span style="font-weight: 400;">2.1.2 получать информацию на сайте</span></p>
                <p><span style="font-weight: 400;">2.1.3 создавать информацию для сайта</span></p>
                <p><span style="font-weight: 400;">2.1.4 распространять информацию на сайте</span></p>
                <p><span style="font-weight: 400;">2.1.5 комментировать контент, выложенный на сайте</span></p>
                <p><span style="font-weight: 400;">2.1.6 использовать информацию сайта в личных некоммерческих целях</span></p>
                <p><strong>2.2 Администрация имеет право:</strong></p>
                <p><span style="font-weight: 400;">2.2.1 по своему усмотрению и необходимости создавать, изменять, отменять правила</span></p>
                <p><span style="font-weight: 400;">2.2.2 ограничивать доступ к любой информации на сайте</span></p>
                <p><span style="font-weight: 400;">2.2.3 создавать, изменять, удалять информацию, в частности, редактировать личную информацию пользователей в связи с нарушениями пунктов 2.3.5, 2.3.7, 2.3.9 и 2.3.11 данного Соглашения</span></p>
                <p><span style="font-weight: 400;">2.2.4 удалять учетные записи</span></p>
                <p><span style="font-weight: 400;">2.2.5 отказывать в регистрации без объяснения причин</span></p>
                <p><span style="font-weight: 400;">2.2.6 отправлять информационные сообщения на зарегистрированные и активированные адреса электронной почты, если у пользователя установлены соответствующие настройки</span></p>
                <p><strong>2.3 Пользователь обязуется:</strong></p>
                <p><span style="font-weight: 400;">2.3.1 обеспечить достоверность предоставляемой информации</span></p>
                <p><span style="font-weight: 400;">2.3.2 обеспечивать сохранность личных данных от доступа третьих лиц</span></p>
                <p><span style="font-weight: 400;">2.3.3 обновлять Персональные данные, предоставленные при регистрации, в случае их изменения</span></p>
                <p><span style="font-weight: 400;">2.3.4 не копировать информацию с других источников</span></p>
                <p><span style="font-weight: 400;">2.3.5 не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность</span></p>
                <p><span style="font-weight: 400;">2.3.6 не нарушать работоспособность сайта</span></p>
                <p><span style="font-weight: 400;">2.3.7 не совершать действия, направленные на введение других Пользователей в заблуждение</span></p>
                <p><span style="font-weight: 400;">2.3.8 не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи третьим лицам</span></p>
                <p><span style="font-weight: 400;">2.3.9 не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства Украины/РФ</span></p>
                <p><span style="font-weight: 400;">2.3.10 не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами</span></p>
                <p><span style="font-weight: 400;">2.3.11 не размещать персональные контактные данные (Discord, ссылки на Telegram каналы или чаты, группы ВК) и/или рекламировать товары и услуги</span></p>
                <p><strong>2.4 Администрация обязуется:</strong></p>
                <p><span style="font-weight: 400;">2.4.1 поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.</span></p>
                <p><span style="font-weight: 400;">2.4.2 осуществлять разностороннюю защиту учетной записи Пользователя</span></p>
                <p><span style="font-weight: 400;">2.4.3 защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила</span></p>
                <h3><strong>3. Ответственность сторон</strong></h3>
                <p><span style="font-weight: 400;">3.1 пользователь лично несет полную ответственность за распространяемую им информацию</span></p>
                <p><span style="font-weight: 400;">3.2 администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг</span></p>
                <p><span style="font-weight: 400;">3.3 администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами</span></p>
                <h3><strong>4. Условия действия Соглашения</strong></h3>
                <p><span style="font-weight: 400;">Данное Соглашение вступает в силу при регистрации на сайте. Соглашение действует бессрочно. Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению. При изменении соглашения, в некоторых случаях, администрация может оповестить пользователей удобным для нее способом.</span></p>
            </div>
        </div>
    </div>
    <div class="card mb-0">
        <div class="card-header" id="headingThree">
            <h5 class="m-0">
                <a class="custom-accordion-title collapsed d-block pt-2 pb-2" data-toggle="collapse"
                    href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Правила составления прогнозов
                    <i class="mdi mdi-chevron-down accordion-arrow"></i>
                </a>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <h3><strong>Правила добавления прогнозов</strong></h3>
                <ul style="list-style: none;">
                    <li style="font-weight: 400;"><span style="font-weight: 400;">1. Чтобы добавить прогноз, необходимо зарегистрироваться на сайте и в правом меню выбрать пункт "Добавить прогноз". За 15 минут до начала события возможность добавить прогноз к нему блокируется.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">2. Чтобы найти нужное событие, после выбора пункта &ldquo;Добавить прогноз&rdquo; необходимо выбрать турнир, затем - искомое событие. После выбора будет доступен список основных исходов.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">3. Требования к описанию прогноза:</span></li>
                        <ul style="list-style: none;">
                        <li style="font-weight: 400;"><span style="font-weight: 400;">3.1 Текст не менее 150 знаков и не более 750 знаков.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">3.2 Несвязный набор символов, спам, текст, нарушающий подпункты раздела 2.3 Пользовательского Соглашения повлечет за собой удаление прогноза с оповещением Пользователя. В случае систематических нарушений учетная запись Пользователя будет удалена.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">3.3 Нецензурная лексика не приветствуется. За бессмысленное использование большого количества нецензурной лексики прогноз будет удален, за систематическое нарушение этого правила учетная запись Пользователя будет временно деактивирована.</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">3.4 Запрещено писать о договорном характере матча, на который Пользователь делает прогноз (п. 2.3.7 Пользовательского Соглашения)</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">3.5 Идеальный состав описания - немного статистики, обзор на предыдущие выступления команд, анализ карт/драфтов, вывод.</span></li>
                        </ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">4. Для совершения ставки предусмотрено две опции: &ldquo;Фиксированная&rdquo; и &ldquo;Процентная&rdquo;:</span></li>
                        <ul style="list-style: none;">
                        <li style="font-weight: 400;"><span style="font-weight: 400;">4.1 Фиксированная ставка - опция для Пользователей, кто ставит по стратегии &ldquo;флет&rdquo;. Ставка от 10 до 250 CTCoins;</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">4.2 Процентная ставка - опция для Пользователей, кто ставит процент от банка постоянно. Чем больше банк, тем больше CTCoins может поставить Пользователь.</span></li>
                        </ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">5. Администрация оставляет за собой право редактировать описание прогноза и/или удалять прогноз, если информация в описании нарушает какие-либо пункты Пользовательского Соглашения.</span></li>
                </ul>
                <p><br /><br /></p>

            </div>
        </div>
    </div>
</div>
{% endblock %}