{% extends "starter-page.html" %}

{% block page_title %} Прогнозы {{ user.nickname }} {% endblock %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('main_page.index') }}" style="color: #6c757d;">Cybertips</a></li>
                        <li class="breadcrumb-item active"><a href="#" >Прогнозы {{ user.nickname }}</a></li></li>
                    </ol>
                </div>
                <!-- <h4 class="page-title">Прогнозы {{ user.nickname }}</h4> -->
            </div>
        </div>
    </div>    
    <!-- end page title --> 
    <div class="page-title-box col-lg-10">
        {% if type_of_predictions == 'all' %}
            <div class="d-flex title-сhoice-block__wrapper">
                <h4 class="page-title title-сhoice-block__title">Все прогнозы {{ user.nickname }}</h4>
                <a href="{{ url_for('main_page.user_predictions', user=user['id'], type_pred='actual') }}"><p class="text-muted font-15 title-сhoice-block__text"><strong>Показать актуальные прогнозы</strong></p></a></a>
            </div>
        {% elif type_of_predictions == 'actual' %}
            <div class="d-flex title-сhoice-block__wrapper">
                <h4 class="page-title title-сhoice-block__title">Актуальные прогнозы {{ user.nickname }}</h4>
                <a href="{{ url_for('main_page.user_predictions', user=user['id'], type_pred='all') }}"><p class="text-muted font-15 title-сhoice-block__text"><strong>Показать все прогнозы</strong></p></a></a>
            </div>
        {% endif %}
    </div>
    {% if predictions.items %} 
        {% for prediction in predictions.items %}
            {% if prediction.type_id == 0 or prediction.type_id == 2 %}
                <div class="row">
                    <div class="col-xl-10 col-lg-10">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">
                                {% if current_user.get_id() == prediction.user_id %}
                                <!-- <div class="dropdown card-widgets">
                                    <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                        <i class='uil uil-ellipsis-h'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0);" class="dropdown-item text-danger">
                                            <i class='uil uil-trash-alt mr-1'></i>Удалить
                                        </a>
                                    </div>
                                </div> -->
                                {% endif %}
                                
                                <div class="clearfix"></div>

                                <h3 class="mt-3 mb-2"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">{{ prediction.liga }}</a></h3>

                                <div class="row justify-content-center local-date-exactly">{{ prediction.game_start_time }}</div>
                                <div class="row justify-content-between" style="margin-bottom: 35px;">
                                    <div class="col-auto">
                                        <!-- assignee -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                        <div class="media">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction.user_details.user_img ) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    <a href="{{ url_for( 'main_page.account', user=prediction.user_details.id ) }}"> {{ prediction.user_details.nickname }} </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- end assignee -->
                                    </div> <!-- end col -->

                                    <div class="row col-lg-auto col-md-auto col-sm-auto col-12 teams-vs-container-unique">
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + prediction.team1_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team mt-1 font-15">{{ prediction.team1 }}</span>
                                        </div>
                                        <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                            <span class="teams-versus-text-unique">VS</span>
                                            <span class="prognos-score-unique"></span>
                                        </span>
                                        <div class="media col-auto teams-images-wrapper-unique">
                                            <img src="{{ logo_path + prediction.team2_img }}" alt="command_ava" class="teams-images-unique">
                                            <span class="name_team mt-1 font-15">{{ prediction.team2 }}</span>
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <!-- start due date -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                        <div class="media">
                                            <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14 local-date">{{ prediction.date_of_prediction }}</h5>
                                            </div>
                                        </div>
                                        <!-- end due date -->
                                    </div> <!-- end col -->
                                </div> <!-- end row -->

                                <div class="row">
                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Прогноз</p>
                                        <div class="media">
                                            <i class='uil uil-chart-line font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.type_of_prediction }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                        <div class="media">
                                            <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.coefficient }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                        <div class="media">
                                            <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.stake_amount }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="mt-3">Обзор</h5>

                                <p class="mb-4">
                                    {{ prediction.description }}
                                </p>

                                <div class="row">
                                    <div class="col-auto">
                                        
                                        <div class="media">
                                            <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.views | length }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                        {% if current_user.is_authenticated %}
                                            {% if prediction.id in liked %}
                                            <div class="media">
                                                <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">
                                            <div class="media">
                                                <i class='uil  uil-comment-alt font-18 text-success mr-1'></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" style="color: var(--body-color)">
                                                        {{ prediction.comments | length }}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

            {% elif prediction.type_id == 1 %}
                <div class="row">
                    <div class="col-xl-10 col-lg-10">
                        <!-- project card -->
                        <div class="card d-block">
                            <div class="card-body">
                                {% if current_user.get_id() == prediction.user_id %}
                                <!-- <div class="dropdown card-widgets">
                                    <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                        <i class='uil uil-ellipsis-h'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="javascript:void(0);" class="dropdown-item text-danger">
                                            <i class='uil uil-trash-alt mr-1'></i>Удалить
                                        </a>
                                    </div>
                                </div> -->
                                {% endif %}
                                <div class="clearfix"></div>

                                <h3 class="mt-3"><a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">Экспресс #{{ prediction.id }} от {{ prediction.user_details.nickname }}</a></h3>

                                <div class="row justify-content-between" style="margin-bottom: 35px;">
                                    <div class="col-auto">
                                        <!-- assignee -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Автор</p>
                                        <div class="media">
                                            <img src="{{ url_for('main_page.static', filename='images/users_avatar/' + prediction.user_details.user_img) }}" alt="Arya S" class="rounded-circle mr-2" height="24" />
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    <a href="{{ url_for( 'main_page.account', user=prediction.user_details.id ) }}"> {{ prediction.user_details.nickname }} </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- end assignee -->
                                    </div> <!-- end col -->

                                    <div class="col-auto">
                                        <!-- start due date -->
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Дата создания</p>
                                        <div class="media">
                                            <i class='uil uil-schedule font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14 local-date">{{ prediction.date_of_prediction }}</h5>
                                            </div>
                                        </div>
                                        <!-- end due date -->
                                    </div> <!-- end col -->
                                </div> <!-- end row -->

                                <div class="row">
                                    
                                    {% for express in prediction.express %}
                                    <div class="row col-12 teams-vs-container-unique justify-content-center align-items-center mt-2" style="background-color: var(--body-bg); padding: 15px 0; margin: 0;">
                                        <div class="col-12 mb-1" style="text-align: center;"><strong>{{ express.liga }}</strong></div>
                                        <hr style="width: 100%; margin: 0; padding: 0; margin-bottom: 5px;">
                                        <div class="d-flex align-items-center justify-content-center express_in_expresses_wrapper">
                                            <div class="mr-5 local-date-exactly express_in_expresses_date">{{ express.game_start_time }}</div>

                                            <div class="d-flex flex-direction-row express_in_expresses_teams">
                                                <div class="media col-auto teams-images-wrapper-unique">
                                                    <img src="{{ logo_path + express.team1_img }}" alt="command_ava" class="teams-images-unique">
                                                    <span class="name_team font-15">{{ express.team1 }}</span>
                                                </div>
                                                <span class="text col-auto teams-versus-container-unique" style="flex-direction: row;">
                                                    <span class="teams-versus-text-unique">VS</span>
                                                    <span class="prognos-score-unique"></span>
                                                </span>
                                                <div class="media col-auto teams-images-wrapper-unique">
                                                    <img src="{{ logo_path + express.team2_img }}" alt="command_ava" class="teams-images-unique">
                                                    <span class="name_team font-15">{{ express.team2 }}</span>
                                                </div>
                                            </div>
                                            
                                            <div class="ml-5 express_in_expresses_coef">{{ express.type_of_prediction }}: {{ express.coefficient }}</div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                    <div class="col-xl-2 col-lg-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Коэффициент</p>
                                        <div class="media">
                                            <i class='uil uil-chart-bar font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.coefficient }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3-auto col-md-auto col-sm-auto col-auto">
                                        <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase unique-low-size">Сумма ставки</p>
                                        <div class="media">
                                            <i class='uil uil-wallet font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.stake_amount }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="mt-3">Обзор</h5>

                                <p class="mb-4">
                                    {{ prediction.description }}
                                </p>

                                <div class="row">
                                    <div class="col-auto">
                                        
                                        <div class="media">
                                            <i class='uil  uil-eye font-18 text-success mr-1'></i>
                                            <div class="media-body">
                                                <h5 class="mt-1 font-14">
                                                    {{ prediction.views | length }}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <input type="hidden" name="prediction_id" value="{{ prediction.id }}">
                                        {% if current_user.is_authenticated %}
                                            {% if prediction.id in liked %}
                                            <div class="media">
                                                <i class='mdi mdi-heart font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-unique' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="media">
                                                <i class='mdi mdi-heart-outline font-18 text-success mr-1 like-button-non_auth' id="like-button"></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" id="number_likes">
                                                        {{ prediction.likes | length}}
                                                    </h5>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <a href="{{ url_for( 'main_page.prognos_details', prediction=prediction.id ) }}">
                                            <div class="media">
                                                <i class='uil  uil-comment-alt font-18 text-success mr-1'></i>
                                                <div class="media-body">
                                                    <h5 class="mt-1 font-14" style="color: var(--body-color)">
                                                        {{ prediction.comments | length }}
                                                    </h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <nav aria-label="Page navigation col-lg-10" class="mb-3">
            <ul class="pagination pagination-rounded mb-0 justify-content-center">
                {% if predictions.pages > 2 and predictions.page != 1 and predictions.page != 2 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=1,user=user['id'], type_pred=type_of_predictions ) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
                {% if predictions.pages > 1 and predictions.page != 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page - 1, user=user['id'], type_pred=type_of_predictions ) }}" aria-label="Previous">
                            <span aria-hidden="true">&lsaquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% if predictions.page-2 >= 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page-2, user=user['id'], type_pred=type_of_predictions ) }}">{{ predictions.page-2 }}</a></li>
                {% endif %}
                {% if predictions.page-1 >= 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page-1, user=user['id'], type_pred=type_of_predictions ) }}">{{ predictions.page-1 }}</a></li>
                {% endif %}
                {% if predictions.page %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page, user=user['id'], type_pred=type_of_predictions ) }}">{{ predictions.page }}</a></li>
                {% endif %}
                {% if predictions.page+1 <= predictions.pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page+1, user=user['id'], type_pred=type_of_predictions ) }}">{{ predictions.page+1 }}</a></li>
                {% endif %}
                {% if predictions.page+2 <= predictions.pages %}
                    <li class="page-item"><a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page+2, user=user['id'], type_pred=type_of_predictions ) }}">{{ predictions.page+2 }}</a></li>
                {% endif %}
                
                {% if predictions.pages > 1 and predictions.pages != predictions.page %}
                <li class="page-item"> 
                    <a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.page+1, user=user['id'], type_pred=type_of_predictions ) }}" aria-label="Next">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
                {% if predictions.pages > 2 and predictions.pages != predictions.page %}
                <li class="page-item"> 
                    <a class="page-link" href="{{ url_for( 'main_page.user_predictions', page=predictions.pages, user=user['id'], type_pred=type_of_predictions ) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% elif current_user.id == user.id %}
        <h4 class="mt-3 text-center">У вас нет прогнозов</h4>
        <h3 class="mt-3 text-center"><a href="{{ url_for('main_page.add_prognos') }}">Создать прогноз</a></h3>
    {% else %}
        <h4 class="mt-3 text-center">У данного пользователя нет прогнозов</h4>
    {% endif %}
{% endblock %}

{% block scripts %}
        <script>
            $(document).ready( function() {
                $('.teams-images-unique').each(function() {
                    if ( !this.complete
                    ||   typeof this.naturalWidth == "undefined"
                    ||   this.naturalWidth == 0                  ) {
                    // image was broken, replace with your new image
                    this.src = 'https://www.precisionpass.co.uk/wp-content/uploads/2018/03/default-team-logo.png';
                    }
                });
            })

            var go_top_btn = $('#go_top_btn');

            
        $(window).scroll(function() {
            if ($(window).scrollTop() > 800 && $(window).scrollTop() < $(document).height() - $(window).height() - 450 ) {
                go_top_btn.addClass('show');
            } else {
                go_top_btn.removeClass('show');
            }
        });

            go_top_btn.on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({scrollTop:0}, '300');
            });
        </script>
{% endblock %}